@import "icons.css";
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Pathway Gothic One';
  src: url('../fonts/PathwayGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#header {
  background: #173244;
  padding: 0;
  color: white;
  width: 100%;
  position: relative;
  z-index: 50;
}
#header > .row:first-of-type {
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
}
#header > .row:last-of-type {
  justify-content: center;
  background: #1b3a4f;
  border-top: thin solid #112431;
  border-bottom: thin solid #112431;
}
#header > .row > div {
  text-align: center;
  padding: 0 1vw;
}
#header > .row .logoContainer > h1,
#header > .row .logoContainer h6 {
  margin: 0;
  text-align: center;
}
#header > .row .logoContainer > h1 {
  font-size: 2vw;
  position: relative;
  font-family: "Pathway Gothic One", sans-serif;
}
#header > .row .logoContainer > h1 > sup {
  position: absolute;
  top: 0.5vw;
  right: 50%;
  margin-right: -7vw;
  font-size: 0.7vw;
}
#header > .row .logoContainer > h6 {
  font-size: 0.7vw;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 300;
}
#header > .row .logoContainer > a {
  font-size: 1vw;
  color: #ddd;
}
#header > .row .logoContainer > a:hover,
#header > .row .logoContainer > a:active {
  color: white;
}
#header > .row .numberContainer {
  padding-top: 0.5vw;
}
#header > .row .numberContainer > div.numeroVerde {
  position: relative;
}
#header > .row .numberContainer > div.numeroVerde > span {
  font-family: "Pathway Gothic One", sans-serif;
  color: white;
}
#header > .row .numberContainer > div.numeroVerde > span:first-of-type {
  position: absolute;
  left: 50%;
  top: -0.5vw;
  padding: 0;
  color: #28a745;
  background: #173244;
  font-size: 3vw;
  z-index: 1;
  margin-left: -6.8vw;
}
#header > .row .numberContainer > div.numeroVerde > span:nth-of-type(2) {
  font-size: 1vw;
  text-transform: uppercase;
  color: white;
  background: #173244;
  position: absolute;
  top: -0.8vw;
  left: 50%;
  z-index: 2;
  margin-left: -3.8vw;
  padding: 0 0.5vw 0 0.1vw;
}
#header > .row .numberContainer > div.numeroVerde > span:last-of-type {
  position: relative;
  top: 0;
  font-size: 1.9vw;
  border: 0.2vw solid #449c44;
  padding: 0 1vw;
  border-radius: 0.5vw;
}
#header > .row > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
#header > .row > ul > li {
  display: inline-block;
  transition: all 150ms ease-out;
  padding: 0.4vw 4vw 0.2vw 0.5vw;
  cursor: pointer;
  position: relative;
  text-align: left;
}
#header > .row > ul > li:last-of-type {
  padding-right: 0;
}
#header > .row > ul > li:hover > a,
#header > .row > ul > li.active > a {
  color: white;
}
#header > .row > ul > li:hover > ul,
#header > .row > ul > li.active > ul {
  display: block;
}
#header > .row > ul > li > a {
  font-size: 1.2rem;
  color: #ddd;
  font-family: "Pathway Gothic One", sans-serif;
}
#header > .row > ul > li > a:hover {
  text-decoration: none;
}
#header > .row > ul > li > ul {
  position: absolute;
  top: 100%;
  left: -1vw;
  width: auto;
  margin: 0 0.5%;
  padding: 0 1vw;
  list-style: none;
  background: rgba(23, 50, 68, 0.9);
  border: thin solid #173244;
  display: none;
}
#header > .row > ul > li > ul > li {
  white-space: nowrap;
  display: block;
  padding: 10px;
}
#header > .row > ul > li > ul > li:hover > a,
#header > .row > ul > li > ul > li.active > a {
  color: white;
}
#header > .row > ul > li > ul > li > a {
  font-size: 0.9rem;
  color: #ddd;
  display: block;
}
#header > .row > ul > li > ul > li > a:first-letter {
  text-transform: uppercase;
}
#header > .row > ul > li > ul > li > a:hover {
  text-decoration: none;
}
