@import "variables";
@import "icons.css";

#header {
  background: @blue;
  padding: 0;
  color: white;
  width: 100%;
  position: relative;
  z-index: 50;
  & > .row {
    &:first-of-type {
      justify-content: space-between;
      padding: 0.5vw;
    }
    &:last-of-type {
      justify-content: center;
      background: lighten(@blue, 3%);
      border-top: thin solid darken(@blue, 5%);
      border-bottom: thin solid darken(@blue, 5%);
    }
    & > div {
      text-align: center;
      padding: 0 1vw;
    }
    & .logoContainer {
        & > h1, & h6 {
          margin: 0;
          text-align: center;
        }
        & > h1 {
          font-size: 2vw;
          position: relative;
          .PGO();
          & > sup {
            position: absolute;
            top: 0.5vw;
            right: 50%;
            margin-right: -7vw;
            font-size: 0.7vw;
          }
        }
        & > h6 {
          font-size: 0.7vw;
          .OSL();
        }
    }
    & .numberContainer {
      padding-top: 0.5vw;
      & > div.numeroVerde {
        position: relative;
        & > span {
          .PGO();
          color: white;
          &:first-of-type {
            position: absolute;
            left: 50%;
            top: -0.5vw;
            padding: 0;
            color: #28a745;
            background: #173244;
            font-size: 3vw;
            z-index: 1;
            margin-left: -6.8vw;
          }
          &:nth-of-type(2) {
            font-size: 1vw;
            text-transform: uppercase;
            color: white;
            background: #173244;
            position: absolute;
            top: -0.8vw;
            left: 50%;
            z-index: 2;
            margin-left: -3.8vw;
          }
          &:last-of-type {
            position: relative;
            top: 0;
            font-size: 1.9vw;
            border: 0.2vw solid #449c44;
            padding: 0 1vw;
            border-radius: 0.5vw;
          }
        }
      }
    }
    & > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0;
      display: flex;
      width: 50%;
      justify-content: space-evenly;
      & > li {
        display: inline-block;
        transition: all 150ms ease-out;
        padding: .4vw 4vw .2vw .5vw;
        cursor: pointer;
        position: relative;
        text-align: left;
        &:last-of-type {
          padding-right: 0;
        }
        &:hover, &.active {
          & > a {
            color: white;
          }
          & > ul {
            display: block;
          }
        }
        & > a {
          font-size: 1.2rem;
          color: @grey;
          .PGO();
          &:hover {
            text-decoration: none;
          }
        }
        & > ul {
          position: absolute;
          top: 100%;
          left: -1vw;
          width: auto;
          margin: 0 0.5%;
          padding: 0 1vw;
          list-style: none;
          background: fade(@blue, @fadePercentage);
          border: thin solid @blue;
          display: none;
          & > li {
            white-space: nowrap;
            display: block;
            padding: 10px;
            &:hover, &.active {
              & > a {
                color: white;
              }
            }
            & > a {
              font-size: 0.9rem;
              color: @grey;
              display: block;
              &:first-letter {
                text-transform: uppercase;
              }
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
