@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import "mpuIcons.css";
.noPadding {
  padding-right: 0!important;
  padding-left: 0!important;
}
.noPaddingRight {
  padding-right: 0!important;
  padding-left: 0!important;
}
@media (min-width: 992px) {
  .noPaddingRight {
    padding-right: 15px!important;
  }
}
.noPaddingLeft {
  padding-right: 0!important;
  padding-left: 0!important;
}
@media (min-width: 992px) {
  .noPaddingLeft {
    padding-left: 15px!important;
  }
}
.noMargin {
  margin: 0!important;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#menuMobile {
  position: relative;
  display: none;
  z-index: 1;
  background: rgba(0, 20, 40, 0.9);
  width: 100%;
  min-height: 156px;
}
@media (max-width: 1023px) {
  #menuMobile {
    display: block;
  }
}
#menuMobile button {
  min-width: 200px;
  text-transform: uppercase;
}
#menuMobile .inline {
  display: inline;
}
#menuMobile select,
#menuMobile input {
  margin: 0 auto 10px;
  text-align: center;
  font-size: 20px;
  width: 280px;
  height: 46px;
}
#menuMobile h6 {
  font-size: 20px;
  color: white;
  margin-top: 5px;
  text-transform: uppercase;
}
#menuMobile .textButton {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
#menuMobile .textButton:hover {
  text-decoration: underline;
  cursor: pointer;
}
#menuMobile .title {
  width: 320px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
#menuMobile .title .numeroVerde {
  background-color: white;
  width: 150px;
  margin: 10px auto 0;
  color: #449C44;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#menuMobile .title .numeroVerde i {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  color: white;
  background: #449c44;
}
#menuMobile .title .numeroVerde span {
  margin-left: 20px;
}
#menuMobile .title h1 {
  font-family: 'LeagueGothicRegular';
  letter-spacing: 2px;
  font-size: 44px;
  margin: 0;
  padding: 10px 0 0;
}
#menuMobile .title h1 sup {
  top: -20px;
  font-size: 17px;
}
#menuMobile .title p {
  font-size: 18px;
  margin: 0;
}
#menuMobile .title p.link:hover {
  cursor: pointer;
  text-decoration: underline;
}
#menuMobile .icons {
  text-align: center;
  border-top: thin solid #888888;
  border-bottom: thin solid #888888;
  margin: 10px 0 0;
  padding: 10px 0 5px;
}
#menuMobile .icons.prv {
  border-top: none;
  margin: 0;
}
#menuMobile .icons.noBorder {
  border: none;
  margin: 0;
  padding: 0;
}
#menuMobile .icons .icon {
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 77px;
  cursor: pointer;
  border: thin solid transparent;
  margin-bottom: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
#menuMobile .icons .icon.selected,
#menuMobile .icons .icon.hover {
  color: rgba(0, 20, 40, 0.9);
  background: white;
  border: thin solid rgba(255, 255, 255, 0.9);
}
#menuMobile .icons .icon.preventivo {
  color: #ffffff;
  background: #449c44;
  border: thin solid #888888;
}
#menuMobile .icons .icon.preventivo.selected,
#menuMobile .icons .icon.preventivo.hover {
  color: rgba(0, 20, 40, 0.9);
  background: white;
  border: thin solid rgba(255, 255, 255, 0.9);
}
#menuMobile .icons .icon.disabled {
  color: #888888 !important;
  background: none;
  cursor: not-allowed;
  border: thin solid transparent;
}
#menuMobile .icons .icon i {
  font-size: 35px;
  padding: 7px 0 5px;
  display: block;
}
#menuMobile .icons .icon.order {
  width: auto;
}
#menuMobile .icons .icon.order i {
  font-size: 62px;
  width: 100px;
  display: block;
  margin: 0 auto;
}
#menuMobile .icons .icon p {
  font-size: 14px;
  letter-spacing: .5px;
  margin: 0 0 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#menuMobile .icons h6 {
  font-size: 20px;
  color: white;
  margin-top: 5px;
}
#menuMobile .icons.white {
  background: #ffffff;
}
#menuMobile .icons.white h6 {
  color: rgba(0, 20, 40, 0.9);
}
#menuMobile .icons.white .icon {
  color: rgba(0, 30, 50, 0.9);
}
#menuMobile .icons.white .icon.selected,
#menuMobile .icons.white .icon.hover {
  background: #eeeeee;
  border: thin solid #888888;
}
#menuMobile .icons.white .icon.confirm {
  background: #ac2925;
  color: white;
}
#menuMobile .icons.white .icon.disabled {
  color: #888888 !important;
  background: none;
  cursor: not-allowed;
  border: thin solid transparent;
}
#menuMobile #google_translate_element {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  height: 106px;
  border-bottom: thin solid white;
}
#menuMobile #google_translate_element .goog-te-gadget {
  color: #ffffff;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 16px;
}
#menuMobile #google_translate_element select {
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-size: 20px;
  height: 46px;
  vertical-align: middle;
  text-transform: uppercase;
  width: 280px;
}
#menuMobile #google_translate_element img {
  display: none;
}
#menuMobile #google_translate_element a {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}
#menuMobile #google_translate_element a::before {
  content: 'Google ';
}
#menuMobile .loginForm {
  width: 100%;
  text-align: center;
  padding: 15px 0 5px;
  border-bottom: thin solid white;
}
#menuMobile .loginForm input[type=text],
#menuMobile .loginForm input[type=password],
#menuMobile .loginForm input[type=email],
#menuMobile .loginForm button,
#menuMobile .loginForm .error,
#menuMobile .loginForm select,
#menuMobile .loginForm .success {
  margin: 0 auto 10px;
  text-align: center;
  font-size: 20px;
  width: 280px;
  height: 46px;
}
#menuMobile .loginForm input[type=checkbox] {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  margin: 2px 5px 10px;
}
#menuMobile .loginForm label {
  color: white;
  vertical-align: middle;
  font-weight: normal;
  font-size: 16px;
  margin-top: -2px;
}
#menuMobile .loginForm .message {
  color: #ffffff;
  display: block;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}
#menuMobile .loginForm .message.success {
  background: #449c44;
}
#menuMobile .loginForm .message.error {
  background: #ac2925;
}
#menuMobile .loader {
  display: block;
  text-align: center;
  color: white;
}
#menuMobile .loader .icons-loader {
  -webkit-animation: loader 1s linear infinite;
  -moz-animation: loader 1s linear infinite;
  -o-animation: loader 1s linear infinite;
  animation: loader 1s linear infinite;
  font-size: 40px;
  text-shadow: 0 0 10px #fff;
  position: relative;
  margin: 20px 0;
  display: block;
}
#menuMobile .menu {
  text-align: left;
  padding: 10px 0;
}
#menuMobile .menu a {
  font-size: 26px;
  padding: 10px;
  margin: 0;
  display: block;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
#menuMobile .menu a:hover,
#menuMobile .menu a.selected {
  background: rgba(0, 30, 50, 0.9);
}
#menuMobile .menu a.selected {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}
#menuMobile .menu a.selected i {
  color: rgba(255, 255, 255, 0.95);
}
#menuMobile .menu a.selected:hover {
  color: #ffffff;
}
#menuMobile .menu a.selected:hover i {
  color: #ffffff;
}
#menuMobile .menu .icons-tree,
#menuMobile .menu .icons-tree-last {
  position: absolute;
  font-size: 57px;
  left: -16px;
  top: 2px;
  color: rgba(255, 255, 255, 0.5);
}
#menuMobile .menu .marginLeft {
  margin-left: 21px;
}
#menuMobile .menu .arrow {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #ffffff;
}
#menuMobile .menu .fasi {
  text-align: center;
  margin: 4px auto 0;
  width: 320px;
}
#menuMobile .menu .fasi .icon {
  display: inline-block;
  text-align: center;
  width: 103px;
  margin: 0 1px;
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#menuMobile .menu .fasi .icon.available {
  cursor: pointer;
  color: #ffffff;
}
#menuMobile .menu .fasi .icon.available:hover {
  background: #ffffff;
  color: rgba(0, 30, 50, 0.9);
}
#menuMobile .menu .fasi .icon.selected {
  background: #ffffff;
  color: rgba(0, 30, 50, 0.9);
}
#menuMobile .menu .fasi .icon i {
  font-size: 40px;
  padding: 5px;
  display: block;
}
#menuMobile .menu .fasi .icon p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
#menuMobile .menu .lista {
  width: 100%;
}
#menuMobile .menu .lista select {
  font-size: 20px;
  height: 46px;
  margin: 5px auto 0;
}
#menuMobile .menu .lista input[type=text],
#menuMobile .menu .lista input[type=number] {
  font-size: 20px;
  height: 46px;
  display: block;
  margin: 5px auto 0;
}
