@font-face {
	font-family: 'mpu';
	src:    url('fonts/mpu.eot?jsnba2');
	src:    url('fonts/mpu.eot?jsnba2#iefix') format('embedded-opentype'),
	url('fonts/mpu.ttf?jsnba2') format('truetype'),
	url('fonts/mpu.woff?jsnba2') format('woff'),
	url('fonts/mpu.svg?jsnba2#mpu') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'mpu' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icons-click:before {
	content: "\e90d";
}
.icons-simpleclose:before {
	content: "\e90b";
}
.icons-simplemenu:before {
	content: "\e90c";
}
.icons-orderCart:before {
	content: "\e908";
}
.icons-approvedCart:before {
	content: "\e909";
}
.icons-cart:before {
	content: "\e90a";
}
.icons-wim-twitter:before {
	content: "\e905";
}
.icons-wim-googlePlus:before {
	content: "\e906";
}
.icons-wim-facebook:before {
	content: "\e907";
}
.icons-wim-quotes:before {
	content: "\e901";
}
.icons-wim-testimonial:before {
	content: "\e902";
}
.icons-wim-image:before {
	content: "\e903";
}
.icons-wim-video:before {
	content: "\e904";
}
.icons-wim-stories:before {
	content: "\e900";
}
.icons-wim-logout:before {
	content: "\e809";
}
.icons-wim-pages:before {
	content: "\e808";
}
.icons-wim-refresh:before {
	content: "\e807";
}
.icons-wim-change:before {
	content: "\e800";
}
.icons-wim-trashClose:before {
	content: "\e806";
}
.icons-wim-trashOpen:before {
	content: "\e801";
}
.icons-wim-right:before {
	content: "\e802";
}
.icons-wim-left:before {
	content: "\e803";
}
.icons-wim-up:before {
	content: "\e804";
}
.icons-wim-down:before {
	content: "\e805";
}
.icons-wim-reset:before {
	content: "\e640";
}
.icons-skype:before {
	content: "\e63f";
}
.icons-wim-menuClose:before {
	content: "\e63e";
}
.icons-wim-menu:before {
	content: "\e63d";
}
.icons-numeroVerde:before {
	content: "\e63c";
}
.icons-3D:before {
	content: "\e63a";
}
.icons-wim:before {
	content: "\e639";
}
.icons-wim-home:before {
	content: "\e63b";
}
.icons-wim-user:before {
	content: "\e638";
}
.icons-faq:before {
	content: "\e637";
}
.icons-contact:before {
	content: "\e636";
}
.icons-listTools:before {
	content: "\e635";
}
.icons-order:before {
	content: "\e634";
}
.icons-searchList:before {
	content: "\e633";
}
.icons-share:before {
	content: "\e62e";
}
.icons-menu:before {
	content: "\e62f";
}
.icons-trashOpenBig:before {
	content: "\e62a";
}
.icons-trashCloseBig:before {
	content: "\e62b";
}
.icons-googlePlus:before {
	content: "\e630";
}
.icons-twitter:before {
	content: "\e631";
}
.icons-facebook:before {
	content: "\e632";
}
.icons-sendEmail:before {
	content: "\e62c";
}
.icons-approved:before {
	content: "\e62d";
}
.icons-addtolist:before {
	content: "\e600";
}
.icons-available:before {
	content: "\e601";
}
.icons-available-not:before {
	content: "\e602";
}
.icons-catalogo:before {
	content: "\e603";
}
.icons-chair:before {
	content: "\e604";
}
.icons-cirle:before {
	content: "\e605";
}
.icons-conditions:before {
	content: "\e606";
}
.icons-down:before {
	content: "\e607";
}
.icons-email:before {
	content: "\e608";
}
.icons-enter:before {
	content: "\e609";
}
.icons-euro:before {
	content: "\e60a";
}
.icons-fullscreen:before {
	content: "\e60b";
}
.icons-gallery:before {
	content: "\e60c";
}
.icons-home:before {
	content: "\e60d";
}
.icons-info:before {
	content: "\e60e";
}
.icons-left:before {
	content: "\e60f";
}
.icons-list:before {
	content: "\e610";
}
.icons-loader:before {
	content: "\e611";
}
.icons-login:before {
	content: "\e612";
}
.icons-logout:before {
	content: "\e613";
}
.icons-map:before {
	content: "\e614";
}
.icons-minus:before {
	content: "\e615";
}
.icons-play:before {
	content: "\e616";
}
.icons-plus:before {
	content: "\e617";
}
.icons-print:before {
	content: "\e618";
}
.icons-progetto:before {
	content: "\e619";
}
.icons-request:before {
	content: "\e61a";
}
.icons-right:before {
	content: "\e61b";
}
.icons-search:before {
	content: "\e61c";
}
.icons-sort:before {
	content: "\e61d";
}
.icons-specifiche:before {
	content: "\e61e";
}
.icons-starFull:before {
	content: "\e61f";
}
.icons-starStroke:before {
	content: "\e620";
}
.icons-target:before {
	content: "\e621";
}
.icons-terms:before {
	content: "\e622";
}
.icons-tools:before {
	content: "\e623";
}
.icons-trashClose:before {
	content: "\e624";
}
.icons-trashOpen:before {
	content: "\e625";
}
.icons-tree:before {
	content: "\e626";
}
.icons-tree-last:before {
	content: "\e627";
}
.icons-up:before {
	content: "\e628";
}
.icons-world:before {
	content: "\e629";
}

