@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pathway Gothic One';
  src: url('../fonts/PathwayGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.OS() {
  font-family: "Open Sans", sans-serif;
}
.OSL() {
  font-family: "Open Sans Light", sans-serif;
}
.OSB() {
  font-family: "Open Sans Bold", sans-serif;
}
.PGO() {
  font-family: "Pathway Gothic One", sans-serif;
}

@blue: #173244;
@green: #28a745;
@grey: #ddd;
@footerHeight: 500px;