@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Pathway Gothic One';
  src: url('../fonts/PathwayGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.container linea .row {
  border-top: thin solid #ddd;
}
.container linea:last-of-type .row {
  border-bottom: thin solid #ddd;
}
.container .row.breadcrumbs {
  border-top: none;
}
.container .row.breadcrumbs > div {
  margin: 0 0 1vh;
}
.container .row.breadcrumbs > div > h4 {
  margin: 0;
}
.container .row.breadcrumbs > div > h4 > span {
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Pathway Gothic One", sans-serif;
  color: #173244;
}
.container .row.breadcrumbs > div > h4 > span:not(:last-of-type):first-letter {
  text-transform: uppercase;
}
.container .row.breadcrumbs > div > h4 > span.chevron {
  font-size: 1rem;
}
.container .row > div {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.container .row > div img {
  border: thin solid #ddd;
}
.container .row h3 {
  font-family: "Pathway Gothic One", sans-serif;
  color: #173244;
  margin-bottom: 1.5rem;
}
.container .row img {
  width: 100%;
}
.container .row p {
  margin-bottom: 0.5rem;
}
.container .row ul {
  padding-left: 18px;
}
.container .row ul > li > p:first-letter {
  text-transform: uppercase;
}
