<!DOCTYPE html>
<html ng-app="mpu" ng-controller="mainCtrl as vm" ng-cloak>
<head lang="it">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/png" href="img/favicon.ico" title="mobiliperufficio.com"/>
    <link rel="author" href="https://plus.google.com/105034652436636507879">

    <title ng-bind="ngMeta.title">mobiliperufficio.com</title>
    <meta name="author" content="{{ngMeta['author']}}" />
    <meta name="description" content="{{ngMeta.description}}"/>
    <script src="/lib/angular.js"></script>
    <!--<script src="/lib/angular.min.js"></script>-->
    <script src="/lib/underscore-min.js"></script>
    <script src="/lib/angular-ui-router.min.js"></script>
    <script src="/lib/ngMeta.min.js"></script>
    <script type="text/javascript" src="/js/module.js"></script>
    <script type="text/javascript" src="/js/routes.js"></script>
    <script type="text/javascript" src="/js/services/rivenditori.js"></script>
    <script type="text/javascript" src="/js/services/settori.js"></script>
    <script type="text/javascript" src="/js/services/marchi.js"></script>
    <!--<script type="text/javascript" src="/js/filters.js"></script>-->
    <!--<script type="text/javascript" src="/js/controllers/mainCtrl.js"></script>-->
    <script type="text/javascript" src="/js/controllers/mainCtrl.min.js"></script>
    <script type="text/javascript" src="/js/controllers/homeCtrl.min.js"></script>
    <script type="text/javascript" src="/js/directives/loader.min.js"></script>
    <script type="text/javascript" src="/js/directives/carousel.js"></script>
    <script type="text/javascript" src="/js/directives/homeSettori.js"></script>
</head>
<body class="grid-container">
<!--
<a ui-sref="test({loc: 'mpu'})">TEST</a>
<a ui-sref="home">HOME</a>
-->
<loader class="pageLoader" ng-if="$root.loading"></loader>
<header id="header" class="container-fluid" ng-include="'/html/templates/header.html'" ng-if="!$root.loading"></header>
<ng-include ng-if="!$root.loading" src="'/html/templates/nav.html'"></ng-include>
<ui-view ng-if="!$root.loading"></ui-view>
<footer id="footer" class="container-fluid" ng-include="'/html/templates/footer.html'" ng-if="!$root.loading"></footer>
</body>
</html>