<!DOCTYPE html>
<html>
<head lang="it">
    <meta charset="UTF-8">
    <base href="/print/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css%5BOLD%5D/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css%5BOLD%5D/print.css">
    <link rel="icon" type="image/png" href="../img/favicon.ico" title="mobiliperufficio.com" />
    <title>mobiliperufficio.com</title>
    <!--ANALYTICS-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36303247-1', 'mobiliperufficio.com');
        ga('send', 'pageview');

    </script>
</head>

<body ng-app="print" ng-controller="mainCtrl">
<div ng-view class="page"></div>
<div class="manager">
    <div class="icon">
        <a href="javascript:if(window.print)window.print()">
            <i class="icons-print" hover-class></i>
            <p>stampa</p>
        </a>
    </div>
    <div ng-if="fnz.findPage() == 'preventivo'" class="icon" ng-click="fnz.resumePrv(0)">
        <i class="icons-listTools" hover-class></i>
        <p>modifica</p>
    </div>
    <div ng-if="fnz.findPage() == 'preventivo'" class="icon" ng-click="fnz.resumePrv(1)">
        <i class="icons-order" hover-class></i>
        <p>ordina</p>
    </div>
</div>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1043998809;
    var google_conversion_language = "it";
    var google_custom_params = window.google_tag_params;
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "KXc4CP3DilkQ2dDo8QM";
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <!--
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1043998809/?value=0&amp;guid=ON&amp;script=0"/>
-->
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1043998809/?label=KXc4CP3DilkQ2dDo8QM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
</body>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript" src="../js%5BOLD%7D/underscore-min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-touch.js"></script>
<script type="text/javascript" src="../js%5BOLD%7D/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script type="text/javascript" src="../dashboard/js/services.js"></script>
<script type="text/javascript" src="../js%5BOLD%7D/print.js"></script>
<!--<script type="text/javascript" src="../js/print.min.js"></script>-->
</html>