<div class="container p-5">
    <div class="row breadcrumbs">
        <div class="col-9">
            <h4><span>{{current.categoria.nome}}</span> <span class="chevron">&#10095;</span> <span>{{current.settore.title}}</span> <span class="link notes" ng-click="current.intro = !current.intro">(descrizione)</span></h4>
            <div class="descrizione" ng-show="current.intro" ng-bind-html="current.descrizione"></div>
        </div>
        <div class="col-3 text-right">
            <fieldset>
                <label for="orderLinee" class="small">Ordina per:</label>
                <select id="orderLinee" class="custom-select-sm border-0 removeBoxShadow" ng-model="order">
                    <option value="prezzo">Prezzo</option>
                    <option value="consegna">Consegna</option>
                </select>
            </fieldset>
        </div>
    </div>
    <linea ng-repeat="l in current.linee | orderBy : order" linea="l" settore="current.settore.nome" categoria="current.categoria.nome"></linea>
</div>