<div class="row m-0">
    <div class="col-2 col-xs-12">
        <h5>mobiliperufficio.com<sup>®</sup></h5>
        <ul>
            <li ng-repeat="s in vm.categorie.info">
                <a ui-sref="">{{s.nome}}<sup ng-if="s.nome === 'Adamantx'">®</sup></a>
            </li>
        </ul>
    </div>
    <div class="col-2 col-xs-12" ng-repeat="c in $root.current.categorie">
        <h5>{{c.nome}}</h5>
        <ul>
            <li ng-repeat="s in c.settori">
                <a ui-sref="">{{s.nome}}</a>
            </li>
        </ul>
    </div>
    <div class="col-12">
        <p>mobiliperufficio.com<sup>®</sup> - copyright 2015. Tutti i diritti riservati Geom. Fabrizio Dolfini p.iva 07726891000</p>
        <p>
            Credits:
            <a href="http://alessandroiacovacci.com/" target="_blank" title="Visit my website" rel="author">website's author: Alessandro Iacovacci</a> | <a href="http://www.flaticon.com/" target="_blank" title="Visit FlatIcon website" rel="author">Icons made or inspired by Freepik from www.flaticon.com is licensed by CC BY 3.0</a>
        </p>
    </div>
</div>