<div class="row m-0">
    <div ng-if="$root.current.rivenditore.nome === 'mobiliperufficio.com'" class="logoContainer">
        <h1>mobiliperufficio.com<sup>®</sup></h1>
        <h6>office furniture and seating made in Italy</h6>
    </div>
    <div ng-if="$root.current.rivenditore.nome !== 'mobiliperufficio.com'" class="logoContainer">
        <h1>{{$root.current.rivenditore.nome}}</h1>
        <a ng-href="//{{$root.current.rivenditore.webSite}}" target="_blank" title="Sito internet di {{$root.current.rivenditore.nome}}">{{$root.current.rivenditore.webSite}}</a>

    </div>
    <div ng-if="$root.current.rivenditore.nome === 'mobiliperufficio.com'" class="numberContainer">
        <div class="numeroVerde">
            <span class="icon-phone"></span>
            <span>NUMERO VERDE GRATUITO</span>
            <span>800.62.90.91</span>
        </div>
    </div>
    <div ng-if="$root.current.rivenditore.nome !== 'mobiliperufficio.com'" class="numberContainer">
        <div class="numeroVerde">
            <span class="icon-phone"></span>
            <span>CONTATTACI AL NUMERO</span>
            <span>{{$root.current.rivenditore.telefono}}</span>
        </div>
    </div>
</div>
<div class="row m-0">
    <ul>
        <li>
            <a ui-sref="">Info & Servizi</a>
            <ul>
                <li ng-repeat="s in vm.categorie.info">
                    <a ui-sref="{{s.url}}({ loc : $root.current.location })" target="{{s.target}}">{{s.nome}}<sup ng-if="s.nome === 'Adamantx'">®</sup></a>
                </li>
            </ul>
        </li>
        <li ng-repeat="c in $root.current.categorie">
            <a ui-sref="">{{c.titolo}}</a>
            <ul>
                <li ng-repeat="s in c.settori">
                    <a ui-sref="settore({ loc : $root.current.location, categoria: c.url, settore: s.url})">{{s.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>