<div class="row">
    <div class="col-sm-5 col-xs-12">
        <h3>Composizione # {{index}}</h3>
        <p>Linea: {{linea.nome}}</p>
        <p>Ref.: {{linea.nome}}_{{index}}</p>
        <p>Descrizione: {{vetrina.titolo}}<span ng-if="vetrina.note"> ({{vetrina.note}})</span>.</p>
        <p>Prezzo: {{vetrina.prezzo | currency : '€'}}</p>
        <button class="btn btn-success text-uppercase" ui-sref="vetrina({ loc : $root.current.location, categoria: urls.categoria, settore: urls.settore, linea: urls.linea})">Vedi dettagli</button>
    </div>
    <div class="col-sm-6 offset-sm-1 col-xs-12">
        <img ng-src="{{vetrina.image}}" title="linea {{linea.nome}}: composizione #{{index}}">
    </div>
</div>
