<script type="text/javascript" src="js/blueimp-gallery.min.js"></script>
<script type="text/javascript" src="js/jquery.blueimp-gallery.min.js"></script>
<div class="rows form testo top95">
    <h3>PROGETTAZIONE ARREDI UFFICIO</h3>
    <div class="right">
        <p>La gestione dei nostri progetti si sviluppa su 3 livelli:</p>
        <p>1° LIVELLO - progetto tecnico: pianta e prospetti in 3D in una progettazione tecnica, atto allo studio e rappresentazione delle disposizioni degli arredi tenendo sempre in considerazione tutte le norme di sicurezza vigenti.</p>
        <p>2° LIVELLO - render foto-realistici: il progetto tecnico, in specifici casi, viene supportato da una progettazione in 3D, con la quale si realizzano scatti fotografici virtuali (render) dell'ambiente sottoposto e degli arredi inseriti nella progettazione.<br>Il fine ultimo di questo servizio è quello di  mettere in risalto l'aspetto estetico del progetto, dando la possibilità al cliente di valutare ed eventualmente intervenire in anticipo, sul riusltato finale.</p>
        <p>3° LIVELLO - progetto dinamico: con i primi 2 livelli già vengono curati tutti gli aspetti possibili affinchè il cliente abbia la giusta visione di ciò che sta acquistando. Tuttavia, oltre a ciò, forniamo al cliente la possbilità di un tour virtuale. A tal scopo utilizziamo 2 strumenti: un video, ovvero una telecamera che gira tra gli ambienti con un percorso prestabilito, o una panoramica a 360°, con la quale il cliente può, da uno o più punti prestabiliti, muoversi a 360° nei suoi locali arredati con i suoi nuovi arredi.</p>
        <p>Di seguito riportiamo alcuni esempi di progettazione di primo e secondo livello.</p>
    </div>
    <div class="left" id="ooo">
        <a href="img/progettazione(01).jpg" title="mobiliperufficio.com progettazione 3D" data-gallery="#blueimp-gallery">
            <img src="img/progettazione(01).jpg" class="lazyload" alt="mobiliperufficio.com progettazione 3D">
        </a>
        <a href="img/progettazione(02).jpg" title="mobiliperufficio.com progettazione 3D" data-gallery="#blueimp-gallery">
            <img src="img/progettazione(02).jpg" class="lazyload" alt="mobiliperufficio.com progettazione 3D">
        </a>
    </div>
</div>