<div class="translator">
    <div id="google_translate_element"></div>
</div>
<div class="title">
    <h1 class="noTranslate">mobiliperufficio.com<sup>®</sup></h1>
    <p>telefono: ++39 800.62.90.91 - email: info@mobiliperufficio.com</p>
</div>
<div class="condizioni">
    <h3>CONDIZIONI GENERALI DI VENDITA</h3>
    <h4>Premessa:</h4>
    <ul>
        <li>Dal sito mobiliperufficio.com scaturiscono unicamente Richieste di Ordine di Acquisto da parte del cliente.</li>
        <li>Esse sono subordinate all'accettazione da parte dell’azienda corrispondente (o delle aziende corrispondenti) produttrice e/o distributrice, che provvederà entro due giorni, ad inviare apposita Conferma D’Ordine, secondo quanto espresso nella Richiesta di Ordine di Acquisto.</li>
        <li>Detta Conferma D’Ordine dovrà essere tempestivamente rispedita controfirmata per accettazione dal cliente via mail o via fax, unitamente alla contabile dell’acconto effettuato.</li>
        <li>Dalla ricezione via mail o fax della Conferma D’Ordine e della contabile dell’acconto, decorrono gli effetti del contratto.</li>
    </ul>
    <h4>Riepilogo condizioni generali di vendita online con il cliente:</h4>
    <ol>
        <li>Le parti riconoscono concordemente l'efficacia giuridico probatoria dei messaggi di posta elettronica (email) tra di loro inviati.</li>
        <li>Gli effetti del contratto decorrono dalla ricezione via mail o fax da parte della Azienda Produttrice o Distributrice, della Conferma D'Ordine debitamente compilata e firmata e corredata della contabile dell’acconto effettuato.</li>
        <li>Dal rientro della Conferma D'Ordine debitamente compilata e firmata e corredata della contabile dell’acconto effettuato, decorrono i termini per la consegna delle merci.</li>
        <li>Per motivi di opportunità commerciale, reperimento materie prime, ritardi e/o uscita di produzione del prodotto, ecc., l'Azienda corrispondente all'ordine, ha ampia facoltà di non accettare l’ordinativo.</li>
        <li>Tutti i prezzi sono al netto di tasse e imposte.</li>
        <li>Sono resi gratuitamente i servizi di consulenza dell’arredatore e progettazione grafica 3D.</li>
        <li>I servizi di trasporto e di montaggio sono effettuati su tutto il territorio nazionale.</li>
        <li>I tempi di consegna sono indicati nella Richiesta di Ordine di Acquisto e successivamente nella Conferma D’Ordine. I giorni del mese di agosto, festività natalizie, pasquali ed altre festività nazionali, non andranno conteggiati ai fini della consegna. I tempi di consegna in questi periodi verranno comunque sempre specificati nella Conferma D’Ordine.</li>
        <li>Qualora richiesto e ove previsto, il servizio di trasporto viene quantificato nel sito, a seconda della provincia selezionata. Per ordini di piccola entità può essere previsto un contributo spese. La consegna dei materiali è sempre da intendersi al piano strada e a filo camion, resta pertanto a carico del cliente lo scarico dal mezzo ed il trasporto al piano dei materiali. Per maggiore trasparenza il costo del trasporto viene rappresentato già in fase di Richiesta D’Ordine di Acquisto.</li>
        <li>Qualora richiesto e ove previsto, Il servizio di montaggio viene quantificato nel sito, a seconda della provincia selezionata. Per maggiore trasparenza il costo del montaggio viene rappresentato già in fase di Richiesta D’Ordine di Acquisto.</li>
        <li>Modalità di pagamento consentite:</li>
        <ul>
            <li class="alpha">bonifico bancario di saldo all’ordine;</li>
            <li class="alpha">bonifico bancario di acconto del 30% all’ordine - saldo in contrassegno;</li>
            <li class="alpha">bonifico bancario di acconto del 30% all’ordine - saldo dilazionabile da concordare con il distributore di riferimento.</li>
            <p>N.B. Il preavviso di consegna dei materiali verrà comunicato al cliente in tempo utile per la predisposizione del saldo. Il pagamento sia esso in contrassegno che con titoli, dovrà avvenire prima dello scarico dei materiali direttamente al personale di consegna. L’impossibilità di consegna o di incasso per cause a voi ascrivibili, potrebbe comportare aggravi di costo a vostro carico per doppia consegna e custodia in giacenza.</p>
        </ul>
        <li>E' prevista la garanzia ordinaria per difetti di materiale e costruzione di 12 mesi (salvo diversa indicazione sul sito).</li>
        <li>Tutela della privacy: quanto previsto dal D.Lgs n.196/03.</li>
        <li>Foro competente in caso di controversie con cliente non consumatore; Foro di domicilio o residenza dell’Azienda produttrice e/o distributrice</li>
        <li>Foro competente in caso di controversie con cliente consumatore; Foro di domicilio o residenza del consumatore</li>
        <li>Recesso del cliente consumatore: quanto previsto dal D.Lgs.n.206/05.</li>
        <li>Legge applicabile: legislazione italiana.</li>
    </ol>
</div>
