<div class="row">
    <div class="col-12 mt-3">
        <h1>Linee</h1>
    </div>
    <div class="col-12 mb-5">
        <linee entity="entity.linea"></linee>
    </div>
    <div class="col-7">
        <ul uib-pagination class="pagination-md justify-content-end mb-0"
            data-boundary-links="true"
            data-total-items="($root.linee | filter : {line_nome : $root.settings.query.linea} | filterById : $root.settings.query.marchi : 'line_mark_id').length"
            data-items-per-page="$root.settings.itemsPerPage"
            data-max-size="3"
            data-ng-model="entity.currentPage"
            data-previous-text="&lsaquo;"
            data-next-text="&rsaquo;"
            data-first-text="&laquo;"
            data-last-text="&raquo;"
            data-force-ellipses="true"
        ></ul>
    </div>
    <div class="col-1">
        <input type="number" class="form-control" ng-model="$root.settings.itemsPerPage" title="" uib-tooltip="Elementi per pagina" >
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.linea" title="" placeholder="Filtro linea">
    </div>
    <div class="col-2">
        <select class="form-control" data-ng-model="$root.settings.query.marchi" ng-options="o.mark_id as o.mark_nome for o in $root.marchi" title="">
            <option value="">Tutti i marchi</option>
        </select>
    </div>
</div>
<div class="col-12 p-0  mt-3 list">
    <div ng-repeat="e in $root.linee | filter : {line_nome : $root.settings.query.linea} | filterById : $root.settings.query.marchi : 'line_mark_id'"
         ng-if="$root.settings.show($index, entity.currentPage)"
         ng-click="selectItem(e)">
        <h4 uib-tooltip="ID: {{e['line_id']}}" data-tooltip-placement="left">{{e['line_nome']}}</h4>
        <p>{{$root.settings.idToLabel(e['line_show'], $root.options.show)}}</p>
        <p>Posizione: {{e['line_pos']}}</p>
        <p>Consegna: {{e['line_time']}} giorni</p>
        <p>Garanzia: {{e['line_war']}} anni</p>
        <p>Sconto: {{e['line_disc']}} %</p>
        <p>{{$root.settings.convert(e['line_mark_id'], 'marchi', 'mark_id' ,'mark_nome')}}</p>
        <p ng-if="e['line_cat']">{{$root.settings.convert(e['line_cat'], 'categorie', 'cat_id' ,'cat_nome')}}</p>
        <p ng-if="e['line_vtr'] === 1" class="">Vetrina</p>
        <p ng-if="e['line_pdf_file'] === 1">Catalogo</p>
        <p ng-if="e['line_spec_file'] === 1">Specifiche</p>
    </div>
</div>