<button type="button" class="btn btn-info saveData" ng-click="saveDataDB()" ng-disabled="saving">SAVE DATA FROM DB</button>
<div class="nuovo form-group">
    <h1>nuova nazione</h1>
    <input class="form-control nome" type="text" placeholder="Nome nazione" ng-model="vm.nuovaNazione.n" popover="Nome nazione" popover-trigger="mouseenter">
    <input class="form-control posPrd" type="text" placeholder="Prefisso" ng-model="vm.nuovaNazione.x" popover="Prefisso" popover-trigger="mouseenter">
    <button ng-if="vm.nuovaNazione.v== 1" class="btn btn-success switch" type="button" value="1" ng-click="vm.nuovaNazione.v= 0">ON</button>
    <button ng-if="vm.nuovaNazione.v== 0" class="btn btn-danger switch" type="button" value="0" ng-click="vm.nuovaNazione.v= 1">OFF</button>
    <div class="commands">
        <button class="btn btn-primary" type="button" ng-click="action('N')" ng-disabled="updateCheck()">SUBMIT</button>
        <button class="btn btn-primary" type="reset">RESET</button>
    </div>
</div>

<div class="gestione">
    <h1>gestione nazioni</h1>
    <nazioni ng-if="vm.nazioni.length != 0" ng-repeat="c in vm.nazioni track by $index" cat = "c" vm = "vm"></nazioni>
    <h1 ng-if="vm.nazioni.length == 0">nessuna nazione ancora inserita</h1>
</div>