<div class="row">
    <div class="col-12 mt-3">
        <h1>Rivenditori</h1>
    </div>
    <div class="col-12 mb-5">
        <rivenditori entity="entity.rivenditore"></rivenditori>
    </div>
    <div class="col-9">
        <ul uib-pagination class="pagination-md justify-content-end mb-0"
            data-boundary-links="true"
            data-total-items="($root.rivenditori | filter : {riv_nome :  $root.settings.query.nome}).length"
            data-items-per-page="$root.settings.itemsPerPage"
            data-max-size="3"
            data-ng-model="entity.currentPage"
            data-previous-text="&lsaquo;"
            data-next-text="&rsaquo;"
            data-first-text="&laquo;"
            data-last-text="&raquo;"
            data-force-ellipses="true"
        ></ul>
    </div>
    <div class="col-1">
        <input type="number" class="form-control" ng-model="$root.settings.itemsPerPage" title="" uib-tooltip="Elementi per pagina" >
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.nome" title="" placeholder="Filtro per nome">
    </div>
</div>
<div class="col-12 p-0  mt-3 list">
    <div ng-repeat="e in $root.rivenditori | filter : {riv_nome :  $root.settings.query.nome}"
         ng-if="$root.settings.show($index, entity.currentPage)"
         ng-click="selectItem(e)">
        <h4 uib-tooltip="ID: {{e['riv_id']}}" data-tooltip-placement="left">{{e['riv_nome']}}
            <span ng-if="e['riv_prov']">{{$root.settings.convert(e['riv_prov'], 'province', 'provincia_id' ,'provincia')}}</span>
            <span ng-if="e['riv_conv']">{{$root.settings.convert(e['riv_conv'], 'convenzioni', 'cnv_id' ,'cnv_nome')}}</span>
        </h4>
        <div>
            <p>Referente: {{e['riv_rif']}}</p>
            <p>{{e['riv_sede']}}</p>
            <p>{{e['riv_email']}}</p>
            <p>{{e['riv_web']}}</p><br>
        </div>
        <div>
            <p ng-if="e['riv_tel']">Telefono: {{e['riv_tel']}}</p>
            <p ng-if="e['riv_cell']">Mobile: {{e['riv_cell']}}</p>
            <p ng-if="e['riv_fax']">Fax: {{e['riv_fax']}}</p>
        </div>
        <div>
            <p>Minimo d'ordine: {{e['riv_limite'] | currency}}</p>
            <p>Costi gestione minimo d'ordine: {{e['riv_minimo'] | currency}}</p>
            <p ng-if="e['riv_trasporto_type'] === 1">Trasporto: {{e['riv_trasporto'] | currency}}</p>
            <p ng-if="e['riv_trasporto_type'] === 2">Trasporto: {{e['riv_trasporto']}} %</p>
            <p ng-if="e['riv_trasporto_type'] === 3">Trasporto: da quantificare</p>
            <p ng-if="e['riv_montaggio_type'] === 1">Montaggio: {{e['riv_montaggio'] | currency}}</p>
            <p ng-if="e['riv_montaggio_type'] === 2">Montaggio: {{e['riv_montaggio']}} %</p>
            <p ng-if="e['riv_montaggio_type'] === 3">Montaggio: da quantificare</p>
        </div>
        <div ng-repeat="m in e['riv_mark']">
            <p>
                {{$root.settings.convert(m.i, 'marchi', 'mark_id' ,'mark_nome')}}:
                <span>{{$root.settings.idToLabel(m.v, $root.options.show)}}</span>
            </p>
            <p ng-if="m.v">
                Consegna:
                <span ng-if="m.d">{{m.d}} giorni</span>
                <span ng-if="!m.d">standard</span>
            </p>
            <p ng-if="m.v">
                Sconto:
                <span ng-if="m.s">{{m.s}}%</span>
                <span ng-if="!m.s">standard</span>
            </p>
        </div>
    </div>
</div>