<div class="rows">
    <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="compostoSettore.m" disabled>
        <option value="" selected>Marchio</option>
    </select>
    <select class="form-control marchio" ng-options="l.i as l.n for l in vm.linee | filter : {m : compostoSettore.m} | orderBy : 'n'" data-ng-model="compostoSettore.l" popover="Linea di origine" popover-trigger="mouseenter" disabled>
        <option value="" selected>Linea</option>
    </select>
    <select class="form-control marchio" ng-options="l.i as l.n for l in vm.linee | filter : {m : compostoSettore.m} | orderBy : 'n'" data-ng-model="compostoSettore.w" popover="Linea di destinazione" popover-trigger="mouseenter" disabled>
        <option value="" selected>Linea</option>
    </select>
</div>
<div ng-show="compostoSettore.w" class="checkboxContainer marchi">
    <h3>settori</h3>
    <div class="checkbox" ng-repeat="s in settoriAvailable">
        <label>
            <input class="categorieCheck" type="checkbox" value="{{s.h}}" ng-checked="selectedCat(s.h)"  ng-click="toggleSet(s.h)">
            {{s.n}}
        </label>
    </div>
</div>
<div class="rows">
    <select ng-disabled="!compostoSettore.l || compostiAvailable.length == 1" class="form-control marchio" ng-options="p.i as (p.c + ' ' + p.f) for p in compostiAvailable | orderBy : 'c'" data-ng-model="compostoSettore.c">
    </select>
    <button ng-if="compostoSettore.v == 1" class="btn btn-success posPrd" type="button" value="1" ng-click="compostoSettore.v = 0">PRIMARIO</button>
    <button ng-if="compostoSettore.v == 0" class="btn btn-warning posPrd" type="button" value="0" ng-click="compostoSettore.v = 1">SECONDARIO</button>
</div>

<div class="rows">
    <button class="btn btn-primary" type="submit" ng-click="action('U')" ng-disabled="!enableUpdate || updateCheck()">UPDATE</button>
    <button class="btn btn-primary" type="button" ng-click="action('C')" ng-disabled="copyCheck()">COPY</button>
    <button class="btn btn-primary" ng-if="!confirm" type="button" ng-click="askConfirm()">DELETE</button>
    <button class="btn btn-danger" ng-if="confirm" type="button" ng-click="action('D')">CONFIRM</button>
    <button class="btn btn-primary" type="button" ng-click="newItem()">NEW</button>
</div>
<div class="rows">
    <button class="btn btn-danger errore" ng-if="errore.compostoSettore">ERRORE - VALORI SETTORI VUOTI</button>
</div>