<div class="rows">
    <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="esposizioneProdotto.k">
        <option value="" selected>Marchio esposizione</option>
    </select>
    <select ng-disabled="!esposizioneProdotto.k" class="form-control marchio" ng-options="l.i as l.n for l in vm.linee | filter : {m : esposizioneProdotto.k} : true| orderBy : 'n'" data-ng-model="esposizioneProdotto.j">
        <option value="" selected>Linea esposizione</option>
    </select>
    <select ng-disabled="!esposizioneProdotto.j" class="form-control marchio" ng-options="v.i as (v.c + '_' + v.f) for v in vm.esposizioni | filter : {l : esposizioneProdotto.j} : true| orderBy : 'c'" data-ng-model="esposizioneProdotto.c">
        <option value="" selected>Esposizione</option>
    </select>
    <input class="form-control pos" type="number" placeholder="0" ng-model="esposizioneProdotto.y" popover="Posizione" popover-trigger="mouseenter">
</div>
<div class="rows">
    <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="esposizioneProdotto.m">
        <option value="" selected>Marchio prodotto</option>
    </select>
    <select ng-disabled="!esposizioneProdotto.m" class="form-control marchio" ng-options="l.i as l.n for l in vm.linee | filter : {m : esposizioneProdotto.m} : true | orderBy : 'n'" data-ng-model="esposizioneProdotto.l">
        <option value="" selected>Linea prodotto</option>
    </select>
    <select ng-disabled="!esposizioneProdotto.l" class="form-control marchio" ng-options="v.i as v.c for v in vm.prodotti | filter : {l : esposizioneProdotto.l} : true | orderBy : 'c'" data-ng-model="esposizioneProdotto.p">
        <option value="" selected>Prodotto</option>
    </select>
    <input class="form-control pos" type="number" placeholder="0" ng-model="esposizioneProdotto.q" popover="Quantità" popover-trigger="mouseenter">
</div>
<div class="rows">
    <select ng-disabled="!esposizioneProdotto.p" class="form-control tabelleVetrina" ng-options="t.i as t.n for t in tabsAvailable | orderBy : 'n'" data-ng-model="esposizioneProdotto.u">
        <option value="" selected>Tabelle finiture</option>
    </select>
    <select ng-disabled="!esposizioneProdotto.u" class="form-control marchio" ng-options="v.i as v.c for v in finsAvailable" data-ng-model="esposizioneProdotto.f">
        <option value="" selected>Finitura</option>
    </select>
</div>
<div class="rows">
    <button class="btn btn-primary" type="submit" ng-click="action('U')" ng-disabled="updateCheck()">UPDATE</button>
    <button class="btn btn-primary" type="button" ng-click="action('C')" ng-disabled="updateCheck()">COPY</button>
    <button class="btn btn-primary" ng-if="!confirm" type="button" ng-click="askConfirm()">DELETE</button>
    <button class="btn btn-danger" ng-if="confirm" type="button" ng-click="action('D')">CONFIRM</button>
    <button class="btn btn-primary" type="button" ng-click="newItem()">NEW</button>
</div>