<form class="row mt-3" name="finiture">
    <div class="col-3">
        <fieldset>
            <label for="nome">Nome:</label>
            <input id="nome" class="form-control" type="text" ng-model="entity.nome">
        </fieldset>
        <fieldset>
            <label for="codice">Codice:</label>
            <input id="codice" class="form-control" type="text" ng-model="entity.codice">
        </fieldset>
        <fieldset>
            <label for="marchio">Marchio:</label>
            <select id="marchio" class="form-control" ng-model="entity.marchio" ng-options="o.mark_id as o.mark_nome for o in $root.marchi"></select>
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label for="tipo">Tipologia:</label>
            <select id="tipo" class="form-control" ng-model="entity.tipo" ng-options="o.id as o.label for o in $root.options.finitura"></select>
        </fieldset>
        <fieldset>
            <label for="status">Status:</label>
            <select id="status" class="form-control" ng-model="entity.show" ng-options="o.id as o.label for o in $root.options.show"></select>
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label>Immagine:</label>
            <div class="dropAreaFileImage inputX3" ng-class="{solidBorder : entity.immagine}">
                <input type="file" file-read="entity.immagine">
                <span ng-if="!entity.immagine">DROP FILE HERE</span>
                <img ng-if="entity.immagine" ng-src="{{entity.immagine}}">
            </div>
        </fieldset>
    </div>
    <div class="col-3 pt-4">
        <button ng-if="!entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.create()" ng-disabled="updateCheck()">CREATE</button>
        <button ng-if="entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.update()" ng-disabled="updateCheck()">UPDATE</button>
        <button ng-if="!confirm && entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.confirm()">DELETE</button>
        <button ng-if="confirm && entity.id" class="btn btn-danger btm-md btn-block" type="button" ng-click="actions.erase()">CONFIRM</button>
        <button class="btn btn-warning btm-md btn-block" type="button" ng-click="actions.reset()">RESET/NEW</button>
    </div>
</form>