<div class="rows">
    <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="lineaSettore.m" disabled></select>
    <select class="form-control marchio" ng-options="l.i as l.n for l in vm.linee | filter : {m : lineaSettore.m} | orderBy : 'n'" data-ng-model="lineaSettore.l" disabled></select>
</div>
<div class="rows">
    <select class="form-control marchio" ng-options="l.i as l.n for l in vm.settori | orderBy : 'n'" data-ng-model="lineaSettore.h">
        <option value="" selected>Settore</option>
    </select>
    <select class="form-control marchio" ng-options="p.i as p.n for p in priceName | orderBy : 'i'" data-ng-model="lineaSettore.z"></select>
</div>
<div class="rows">
    <div class="dropAreaFileImage big" ng-class="{solidBorder : lineaSettore.r}">
        <input type="file" class="dropArea" fileread="lineaSettore.r">
        <span ng-if="!lineaSettore.r">DROP FILE HERE</span>
        <div class="fileImage">
            <img ng-if="lineaSettore.r" ng-src="{{lineaSettore.r}}">
        </div>
    </div>
</div>
<div class="rows">
    <button class="btn btn-primary" type="submit" ng-click="action('U')" ng-disabled="updateCheck()">UPDATE</button>
    <button class="btn btn-primary" ng-if="!confirm" type="button" ng-click="askConfirm()" ng-disabled="deleteCheck()">DELETE</button>
    <button class="btn btn-danger" ng-if="confirm" type="button" ng-click="action('D')">CONFIRM</button>
    <button class="btn btn-primary" type="button" ng-click="newItem()">NEW</button>
</div>
<div class="rows">
    <button class="btn btn-danger errore" ng-if="errore.lineaSettore">ERRORE - FINITURA ESISTENTE</button>
</div>