<div class="rows">
    <input class="form-control nome" type="text" placeholder="Nome linea" ng-model="linea.n" popover="Nome linea" popover-trigger="mouseenter">
    <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="linea.m">
        <option value="" selected>Marchio</option>
    </select>
    <select class="form-control marchio" ng-options="c.i as c.n for c in vm.categorie | orderBy : 'n'" data-ng-model="linea.g">
        <option value="" selected>Categoria</option>
    </select>
</div>
<div class="rows">
    <span class="info sigla">consegna</span><input class="form-control numero" type="number" ng-model="linea.e" popover="Tempi di consegna (giorni)" popover-trigger="mouseenter"><span class="info text">giorni</span>
    <span class="info sigla">garanzia</span><input class="form-control numero" type="number" ng-model="linea.w" popover="Garanzia (anni)" popover-trigger="mouseenter"><span class="info text">anni</span>
    <input class="form-control numero" type="number" ng-model="linea.s" popover="Sconto" popover-trigger="mouseenter"><span class="info perc">%</span>
</div>
<div class="rows">
    <button ng-if="linea.v == 1" class="btn btn-success large" type="button" value="1" ng-click="linea.v = 0">VISIBILE</button>
    <button ng-if="linea.v == 0" class="btn btn-danger large" type="button" value="0" ng-click="linea.v = 1">NON VISIBILE</button>
    <button ng-if="linea.c == 1" class="btn btn-primary large" type="button" value="1" ng-click="linea.c = 0" popover="Vetrina visibile" popover-trigger="mouseenter">VETRINA</button>
    <button ng-if="linea.c == 0" class="btn btn-info large" type="button" value="0" ng-click="linea.c = 1" popover="Vetrina non visibile" popover-trigger="mouseenter">SENZA VETRINA</button>
    <select class="form-control marchio" ng-options="p.i as p.n for p in priceName | orderBy : 'i'" data-ng-model="linea.z"></select>
<!--
    <div class="ratingPrice linee">
        <rating
                ng-model="linea.zz"
                max="3"
                readonly="isReadonly"
                state-on="'icons-euro selected'"
                state-off="'icons-euro'"
                popover="Indice prezzo"
                popover-trigger="mouseenter"
        >
        </rating>
    </div>
-->
    <span class="info sigla">posizione</span><input class="form-control posPrd" type="number" ng-model="linea.y" popover="Posizione" popover-trigger="mouseenter">
</div>
<div class="rows">
    <div class="dropAreaFileImage insertPDF" ng-class="{solidBorder : linea.r}">
        <input type="file" class="dropArea" fileread="linea.r">
        <span ng-if="!linea.r">IMMAGINE</span>
        <div class="fileImage">
            <img ng-if="linea.r" ng-src="{{linea.r}}">
        </div>
    </div>
    <div class="dropAreaFileImage insertPDF" ng-class="{solidBorder : linea.k}" popover="Catalogo" popover-trigger="mouseenter">
        <input type="file" class="dropArea" fileread="linea.k">
        <span ng-if="!linea.k">CATALOGO</span>
        <div class="fileImage">
            <i class="icons-available" ng-if="linea.k"></i>
        </div>
        <i class="icons-available-not" ng-if="linea.k" ng-click="linea.k = false" title="Elinima file"></i>
    </div>
    <div class="dropAreaFileImage insertPDF" ng-class="{solidBorder : linea.j}" popover="Specifiche tecniche" popover-trigger="mouseenter">
        <input type="file" class="dropArea" fileread="linea.j">
        <span ng-if="!linea.j">SPECIFICHE</span>
        <div class="fileImage">
            <i class="icons-available" ng-if="linea.j"></i>
        </div>
        <i class="icons-available-not" ng-if="linea.j" ng-click="linea.j = false" title="Elinima file"></i>
    </div>
</div>
<div class="checkboxContainer marchi linee">
    <h3>SETTORI</h3>
    <div class="checkbox" ng-show="linea.g" ng-repeat="s in vm.settori | filter : {g : linea.g}">
        <fieldset>
            <input id="settoriPerLinee_{{s.n}}" class="categorieCheck" type="checkbox" ng-checked="selectedCat(s.i)" value="{{s.i}}" ng-click="toggleSet(s.i)">
            <label for="settoriPerLinee_{{s.n}}">{{s.n}}</label>
        </fieldset>
    </div>
</div>
<div class="rows">
    <div class="abbinamentiLista" ng-repeat="n in linea.a track by $index">
        <input class="form-control dim" type="text" placeholder="Titolo" ng-model="linea.a[$index].t">
        <select class="form-control dim" ng-options="l.i as l.n for l in vm.linee | filter : {m : linea.m} | orderBy : 'n'" data-ng-model="linea.a[$index].i">
            <option value="" selected>Link alla linea</option>
        </select>
        <i class="icons-minus" ng-click="removeLink($index)" ng-show="linea.a.length > 1 || linea.a[0]" ng-class="{addMargin : !$last}"></i>
        <i class="icons-plus" ng-click="addLink()" ng-show="$last" ng-class="{addMargin : $first}"></i>
    </div>
</div>
<div class="rows">
    <button class="btn btn-primary" type="submit" ng-click="action('U')" ng-disabled="updateCheck()">UPDATE</button>
    <button class="btn btn-primary" ng-if="!confirm" type="button" ng-click="askConfirm()" ng-disabled="deleteCheck()">DELETE</button>
    <button class="btn btn-danger" ng-if="confirm" type="button" ng-click="action('D')">CONFIRM</button>
    <button class="btn btn-primary" type="button" ng-click="newLinea()">NEW</button>
</div>
<div class="rows">
    <button class="btn btn-danger errore" ng-if="errore.finitura">ERRORE - LINEA ESISTENTE</button>
</div>