<form class="row mt-3" name="linee">
    <div class="col-3">
        <fieldset>
            <label for="nome">Nome:</label>
            <input id="nome" class="form-control" type="text" ng-model="entity.nome">
        </fieldset>
        <fieldset>
            <label for="marchio">Marchio:</label>
            <select id="marchio" class="form-control" ng-model="entity.marchio"
                    ng-options="o.mark_id as o.mark_nome for o in $root.marchi"></select>
        </fieldset>
        <fieldset>
            <label for="categoria">Categoria:</label>
            <select id="categoria" class="form-control" ng-model="entity.categoria"
                    ng-options="o.cat_id as o.cat_nome for o in $root.categorie"></select>
        </fieldset>
        <fieldset>
            <label for="posizione">Posizione:</label>
            <input id="posizione" class="form-control" type="number" ng-model="entity.posizione">
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label for="vetrina">Vetrina:</label>
            <select id="vetrina" class="form-control" ng-model="entity.vetrina"
                    ng-options="o.id as o.label for o in $root.options.vetrina"></select>
        </fieldset>
        <fieldset>
            <label for="status">Status:</label>
            <select id="status" class="form-control" ng-model="entity.show"
                    ng-options="o.id as o.label for o in $root.options.show"></select>
        </fieldset>
        <fieldset>
            <label for="consegna">Consegna (giorni):</label>
            <input id="consegna" class="form-control" type="number" ng-model="entity.consegna">
        </fieldset>
        <fieldset>
            <label for="garanzia">Garanzia (anni):</label>
            <input id="garanzia" class="form-control" type="number" ng-model="entity.garanzia">
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label>Catalogo:</label>
            <div class="dropAreaFileImage inputX2" ng-class="{solidBorder : entity.catalogo}">
                <input type="file" file-read="entity.catalogo" ng-model="entity.catalogo">
                <span ng-if="!entity.catalogo">DROP FILE HERE</span>
                <span ng-if="entity.catalogo">PDF CARICATO</span>
            </div>
        </fieldset>
        <fieldset>
            <label>Specifiche:</label>
            <div class="dropAreaFileImage inputX2" ng-class="{solidBorder : entity.specifiche}">
                <input type="file" file-read="entity.specifiche" ng-model="entity.specifiche">
                <span ng-if="!entity.specifiche">DROP FILE HERE</span>
                <span ng-if="entity.specifiche">PDF CARICATO</span>
            </div>
        </fieldset>
    </div>
    <div class="col-3 pt-4">
        <button ng-if="entity.abbinamenti.length === 0" class="btn btn-success btm-md btn-block mb-4" type="button" ng-click="actions.abbinamenti.add(entity.abbinamenti)">AGGIUNGI ABBINAMENTI
        </button>
        <button ng-if="entity.abbinamenti.length > 0" class="btn btn-danger btm-md btn-block mb-4" type="button" ng-click="actions.abbinamenti.reset(entity.abbinamenti)">RIMUOVI ABBINAMENTI
        </button>
        <button ng-if="!checked && !entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.checkItem(entity, $root.linee, 'create')" ng-disabled="updateCheck()">CREATE</button>
        <button ng-if="!checked && entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.checkItem(entity, $root.linee, 'update')" ng-disabled="updateCheck()">UPDATE</button>
        <button ng-if="checked" class="btn btn-danger btm-md btn-block" type="button" disabled>EXISTING ITEM</button>
        <button ng-if="!confirm && entity.id" class="btn btn-primary btm-md btn-block" type="button"
                ng-click="actions.confirm()">DELETE
        </button>
        <button ng-if="confirm && entity.id" class="btn btn-danger btm-md btn-block" type="button"
                ng-click="actions.erase()">CONFIRM
        </button>
        <button class="btn btn-warning btm-md btn-block" type="button" ng-click="actions.reset()">RESET/NEW</button>
    </div>
    <div ng-if="entity.abbinamenti.length > 0" class="col-12 mt-3">
        <p class="mb-0">Linee abbinate</p>
    </div>
</form>
<form ng-if="entity.abbinamenti.length > 0" class="row" ng-repeat="a in entity.abbinamenti">
    <fieldset class="col-3">
        <label for="categoria_{{$index}}">Categoria:</label>
        <select id="categoria_{{$index}}" class="form-control" ng-model="a.categoria"
                ng-options="o.cat_id as o.cat_nome for o in $root.categorie"></select>
    </fieldset>
    <fieldset class="col-3">
        <label for="settore_{{$index}}">Settore:</label>
        <select id="settore_{{$index}}" class="form-control" ng-model="a.settore"
                ng-options="o.set_id as o.set_nome for o in ($root.settori | filter : {set_cat_id : a.categoria})" ng-disabled="!a.categoria"></select>
    </fieldset>
    <fieldset class="col-3">
        <label for="linea_{{$index}}">Linea:</label>
        <select id="linea_{{$index}}" class="form-control" ng-model="a.linea"
                ng-options="o.line_id as o.line_nome for o in ($root.linee | orderBy : 'line_nome' | filter : {line_cat : a.categoria})" ng-disabled="!a.categoria"></select>
    </fieldset>
    <div class="col-1">
        <button  class="btn btn-danger btm-md btn-block mt-4" type="button"
                ng-click="actions.abbinamenti.remove(entity.abbinamenti, $index)">-
        </button>
    </div>
    <div class="col-1">
        <button ng-if="$last" class="btn btn-success btm-md btn-block mt-4" type="button"
                ng-click="actions.abbinamenti.add(entity.abbinamenti)">+
        </button>
    </div>
</form>