<form class="row mt-3" name="marchi">
    <div class="col-3">
        <fieldset>
            <label for="nome">Nome:</label>
            <input id="nome" class="form-control" type="text" ng-model="entity.nome">
        </fieldset>
        <fieldset>
            <label for="listino">Variazione listino (%):</label>
            <input id="listino" class="form-control" type="number" ng-model="entity.listino">
        </fieldset>
        <fieldset>
            <label for="sconto">Sconto: (%)</label>
            <input id="sconto" class="form-control" type="number" ng-model="entity.sconto">
        </fieldset>
        <fieldset>
            <label for="status">Status:</label>
            <select id="status" class="form-control" ng-model="entity.show"
                    ng-options="o.id as o.label for o in $root.options.show"></select>
        </fieldset>
    </div>
    <div class="col-6 pt-3 d-flex flex-wrap align-content-start">
        <fieldset ng-repeat="c in entity.categorie" class="form-check col-6">
            <input id="_{{c.nome}}" type="checkbox" value="{{c.id}}" class="form-check-input" ng-checked="c.checked" ng-model="c.checked">
            <label for="_{{c.nome}}" class="form-check-label">{{c.nome}}</label>
        </fieldset>
    </div>
    <div class="col-3 pt-4">
        <button ng-if="!entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.create()"
                ng-disabled="updateCheck()">CREATE
        </button>
        <button ng-if="entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.update()"
                ng-disabled="updateCheck()">UPDATE
        </button>
        <button ng-if="!confirm && entity.id" class="btn btn-primary btm-md btn-block" type="button"
                ng-click="actions.confirm()">DELETE
        </button>
        <button ng-if="confirm && entity.id" class="btn btn-danger btm-md btn-block" type="button"
                ng-click="actions.erase()">CONFIRM
        </button>
        <button class="btn btn-warning btm-md btn-block" type="button" ng-click="actions.reset()">RESET/NEW</button>
    </div>
</form>