<div class="rows">
    <input class="form-control abbinamento" type="text" placeholder="Nome tabella" ng-model="tbpr.n" popover="Nome tabella" popover-trigger="mouseenter">
    <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="tbpr.m">
    </select>
    <input class="form-control pos" type="number" placeholder="0" ng-model="tbpr.y" popover="Posizione" popover-trigger="mouseenter"><br>
</div>
<div class="rows">
    <button class="btn btn-primary" type="submit" ng-click="action('U')" ng-disabled="updateCheck()">UPDATE</button>
    <button class="btn btn-primary" type="button" ng-click="action('C')" ng-disabled = "copyCheck()">COPY</button>
    <button class="btn btn-primary" ng-if="!confirm" type="button" ng-click="askConfirm()">DELETE</button>
    <button class="btn btn-danger" ng-if="confirm" type="button" ng-click="action('D')">CONFIRM</button>
    <button class="btn btn-primary" type="button" ng-click="tbprOriginal.selected = false">NEW</button>
</div>
<div class="rows">
    <button class="btn btn-danger errore" ng-if="errore.tbpr">ERRORE - TABELLA ESISTENTE</button>
</div>
