<form class="row mt-3" name="prodotti">
    <div class="col-3">
        <fieldset>
            <label for="titolo">Titolo:</label>
            <input id="titolo" class="form-control" type="text" ng-model="entity.titolo">
        </fieldset>
        <fieldset>
            <label for="codice">Codice:</label>
            <input id="codice" class="form-control" type="text" ng-model="entity.codice">
        </fieldset>
        <fieldset>
            <label for="dimensioni">Dimensioni:</label>
            <input id="dimensioni" class="form-control" type="text" ng-model="entity.dimensioni">
        </fieldset>
        <fieldset>
            <label for="note">Note:</label>
            <input id="note" class="form-control" type="text" ng-model="entity.note">
        </fieldset>
        <fieldset>
            <label for="marchio">Marchio:</label>
            <select id="marchio" class="form-control" ng-model="entity.marchio" ng-options="o.mark_id as o.mark_nome for o in $root.marchi" ng-disabled="entity.id"></select>
        </fieldset>
        <fieldset>
            <label for="linea">Linea:</label>
            <select id="linea" class="form-control" ng-model="entity.linea" ng-options="o.line_id as o.line_nome for o in ($root.linee | filter : {line_mark_id : entity.marchio})" ng-disabled="!entity.marchio || entity.id"></select>
        </fieldset>
        <fieldset>
            <label for="finitura_linea">Linea finitura:</label>
            <select id="finitura_linea" class="form-control" ng-model="entity.finitura_linea" ng-options="o.line_id as o.line_nome for o in ($root.linee | filter : {line_mark_id : entity.marchio})" ng-disabled="!entity.marchio || entity.id"></select>
        </fieldset>
        <fieldset>
            <label for="tabella">Tabella prodotti:</label>
            <select id="tabella" class="form-control" ng-model="entity.tabella" ng-options="o.tab_id as o.tab_nome for o in ($root.tabelle_prodotti | filter : {line_mark_id : entity.marchio})" ng-disabled="!entity.marchio || entity.id"></select>
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label for="posizione">Posizione:</label>
            <input id="posizione" class="form-control" type="number" ng-model="entity.posizione">
        </fieldset>
        <fieldset>
            <label for="status">Status:</label>
            <select id="status" class="form-control" ng-model="entity.show" ng-options="o.id as o.label for o in $root.options.show"></select>
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label>Immagine</label>
            <div class="dropAreaFileImage inputX3" ng-class="{solidBorder : entity.immagine}">
                <input type="file" file-read="entity.immagine">
                <span ng-if="!entity.immagine">DROP FILE HERE</span>
                <img ng-if="entity.immagine" ng-src="{{entity.immagine}}">
            </div>
        </fieldset>
    </div>
    <div class="col-3 pt-4">
        <button ng-if="!entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.create()" ng-disabled="updateCheck()">CREATE</button>
        <button ng-if="entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.update()" ng-disabled="updateCheck()">UPDATE</button>
        <button ng-if="!confirm && entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.confirm()">DELETE</button>
        <button ng-if="confirm && entity.id" class="btn btn-danger btm-md btn-block" type="button" ng-click="actions.erase()">CONFIRM</button>
        <button class="btn btn-warning btm-md btn-block" type="button" ng-click="actions.reset()">RESET/NEW</button>
    </div>
</form>