<form class="row mt-3" name="province">
    <div class="col-3">
        <fieldset>
            <label for="regione">Regione:</label>
            <select id="regione" class="form-control" ng-model="entity.regione" ng-options="o.regioni_id as o.regioni_nome for o in $root.regioni" tabindex="11"></select>
        </fieldset>
        <fieldset>
            <label for="provincia">Provincia:</label>
            <input id="provincia" class="form-control" type="text" ng-model="entity.provincia" tabindex="12">
        </fieldset>
        <fieldset>
            <label for="sigla">Sigla:</label>
            <input id="sigla" class="form-control" type="text" ng-model="entity.sigla" tabindex="13">
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label for="minimo.limite">Limite minimo d'ordine (€):</label>
            <input id="minimo.limite" class="form-control" type="number" step="0.01" ng-model="entity.minimo.limite" tabindex="14">
        </fieldset>
        <fieldset>
            <label for="trasporto.tipologia">Tipologia spese di trasporto:</label>
            <select id="trasporto.tipologia" class="form-control" ng-model="entity.trasporto.tipologia" ng-options="o.id as o.label for o in $root.options.servizi" tabindex="16"></select>
        </fieldset>
        <fieldset>
            <label for="montaggio.tipologia">Tipologia spese di montaggio:</label>
            <select id="montaggio.tipologia" class="form-control" ng-model="entity.montaggio.tipologia" ng-options="o.id as o.label for o in $root.options.servizi" tabindex="18"></select>
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label for="minimo.importo">Spese minimo d'ordine (€):</label>
            <input id="minimo.importo" class="form-control" type="number" step="0.01" ng-model="entity.minimo.importo" tabindex="15">
        </fieldset>
        <fieldset>
            <label for="trasporto.importo">Maggiorazione trasporto (€):</label>
            <input id="trasporto.importo" class="form-control" type="number" step="0.01" ng-model="entity.trasporto.importo" tabindex="17">
        </fieldset>
        <fieldset>
            <label for="montaggio.importo">Maggiorazione montaggio (€):</label>
            <input id="montaggio.importo" class="form-control" type="number" step="0.01" ng-model="entity.montaggio.importo" tabindex="19">
        </fieldset>
    </div>
    <div class="col-3 pt-4">
        <button ng-if="!checked && !entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.checkItem(entity, $root['province'], 'create')" ng-disabled="updateCheck()">CREATE</button>
        <button ng-if="!checked && entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.checkItem(entity, $root['province'], 'update')" ng-disabled="updateCheck()">UPDATE</button>
        <button ng-if="checked" class="btn btn-danger btm-md btn-block" type="button" disabled>EXISTING ITEM</button>
        <button ng-if="!confirm && entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.confirm()">DELETE</button>
        <button ng-if="confirm && entity.id" class="btn btn-danger btm-md btn-block" type="button" ng-click="actions.erase()">CONFIRM</button>
        <button class="btn btn-warning btm-md btn-block" type="button" ng-click="actions.reset()">RESET/NEW</button>
    </div>
</form>