<div class="rows">
    <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'"
            data-ng-model="vetrina.m">
        <option value="" selected>Marchio</option>
    </select>
    <select ng-disabled="!vetrina.m" class="form-control linea"
            ng-options="l.i as l.n for l in vm.linee | filter : {m : vetrina.m} : true | orderBy : 'n'"
            data-ng-model="vetrina.l">
        <option value="" selected>Linea</option>
    </select>
    <input class="form-control vetrinaCod" type="text" placeholder="Cod" ng-model="vetrina.c">
    <input class="form-control pos" type="number" placeholder="0" ng-model="vetrina.y" popover="Posizione"
           popover-trigger="mouseenter">
    <button ng-if="vetrina.v == 1" class="btn btn-success switch" type="button" value="1" ng-click="vetrina.v = 0">ON
    </button>
    <button ng-if="vetrina.v == 0" class="btn btn-danger switch" type="button" value="0" ng-click="vetrina.v = 1">OFF
    </button>
</div>
<div class="checkboxContainer titolo">
    <h3>SETTORI</h3>
    <div class="checkbox" ng-if="vetrina.l" ng-repeat="s in settoriInLinea">
        <fieldset>
            <input id="settoreInLinea_{{s.n}}" class="categorieCheck" type="checkbox" value="{{s.i}}" ng-click="toggleSet(s.i)" ng-checked="selectedCat(s.i)">
            <label for="settoreInLinea_{{s.n}}">{{s.n}}</label>
        </fieldset>
    </div>
</div>
<div class="rows">
    <input class="form-control titolo" type="text" placeholder="Titolo prodotto" ng-model="vetrina.n">
</div>
<div class="rows">
    <input class="form-control titolo" type="text" placeholder="Note" ng-model="vetrina.o">
</div>
<!--<div ng-show="vetrina.l" class="checkboxContainer marchi">
    <h3>settori</h3>
    <div class="checkbox" ng-repeat="s in settoriAvailable">
        <label>
            <input class="categorieCheck" type="checkbox" value="{{s.h}}"  ng-click="toggleSet(s.h)" ng-checked="selectedCat(s.h)">
            {{s.n}}
        </label>
    </div>
</div>-->
<div class="rows">
    <div class="dropAreaFileImage" ng-class="{solidBorder : vetrina.r}">
        <input type="file" class="dropArea" fileread="vetrina.r">
        <span ng-if="!vetrina.r">DROP FILE HERE</span>
        <div class="fileImage">
            <img ng-if="vetrina.r" ng-src="{{vetrina.r}}">
        </div>
    </div>
</div>
<div class="rows">
    <button class="btn btn-primary" type="submit" ng-click="action('U')" ng-disabled="updateCheck()">UPDATE</button>
    <button class="btn btn-primary" type="button" ng-click="action('C')" ng-disabled="copyCheck()">COPY</button>
    <button class="btn btn-primary" ng-if="!confirm" type="button" ng-click="askConfirm()" ng-disabled="deleteCheck()">
        DELETE
    </button>
    <button class="btn btn-danger" ng-if="confirm" type="button" ng-click="action('D')">CONFIRM</button>
    <button class="btn btn-primary" type="button" ng-click="newFinitura()">NEW</button>
</div>
<div class="rows">
    <button class="btn btn-danger errore" ng-if="errore.vetrina">ERRORE - VETRINA ESISTENTE O VALORI PREZZI VUOTI
    </button>
</div>