<form class="row mt-3" name="tabelleFiniture">
    <div class="col-3">
        <fieldset>
            <label for="nome">Nome:</label>
            <input id="nome" class="form-control" type="text" ng-model="entity.nome">
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label for="categoria">Marchio:</label>
            <select id="categoria" class="form-control" ng-model="entity.marchio" ng-options="o.mark_id as o.mark_nome for o in $root.marchi"></select>
        </fieldset>
    </div>
    <div class="col-3">
        <fieldset>
            <label for="linea">Linea:</label>
            <select id="linea" class="form-control" ng-model="entity.linea" ng-options="o.line_id as o.line_nome for o in ($root.linee | filter : {line_mark_id : entity.marchio})" ng-disabled="!entity.marchio"></select>
        </fieldset>
    </div>
    <div class="col-3 pt-4">
        <button ng-if="!checked && !entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.checkItem(entity, $root['tabelle_finiture'], 'create')" ng-disabled="updateCheck()">CREATE</button>
        <button ng-if="!checked && entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.checkItem(entity, $root['tabelle_finiture'], 'update')" ng-disabled="updateCheck()">UPDATE</button>
        <button ng-if="checked" class="btn btn-danger btm-md btn-block" type="button" disabled>EXISTING ITEM</button>
        <button ng-if="!confirm && entity.id" class="btn btn-primary btm-md btn-block" type="button" ng-click="actions.confirm()">DELETE</button>
        <button ng-if="confirm && entity.id" class="btn btn-danger btm-md btn-block" type="button" ng-click="actions.erase()">CONFIRM</button>
        <button class="btn btn-warning btm-md btn-block" type="button" ng-click="actions.reset()">RESET/NEW</button>
    </div>
</form>