<i class="icons-click"></i>
<div class="imgBg" ng-style="{'background' : categoria.r}"></div>
<div class="testo right">
    <h2 ng-if="fnz.findLoc() != 'Zad_italy'">{{::categoria.n}}</h2>
    <h2 ng-if="fnz.findLoc() == 'Zad_italy'">la collezione art & design</h2>
    <p ng-if="fnz.findLoc() != 'Zad_italy'" ng-bind-html="categoria.x"></p>
    <p ng-if="fnz.findLoc() == 'Zad_italy'">Visita la collezione di Zad Italy, modelli apparentemente semplici nelle forme e nel design mescolando funzionalità ed eleganza.
        Veri oggetti del desiderio, ideati per coloro che amano distinguersi dalla massa, che riconoscono l’importanza di avere un complemento di arredo di design
        all’interno del proprio ufficio.</p>
</div>