<div id="{{::item.i}}">
    <div class="title">
        <h6 class="notranslate">{{fnz.convert(item.l, 'linee', 'n')}}_{{::item.c}}</h6>
    </div>
    <div class="imageContainer" ng-class="{selected : info}">
        <div class="four-by-three">
            <div class="loader">
                <img class="loadingGIF" src="img/lazy_loading.gif">
            </div>
        </div>
        <img data-src="{{path}}" class="lazyload" title="{{::item.n}}">
        <div class="overlayer">
            <div class="lineaInfo">
                <p class="cmp">{{::item.n}}</p>
            </div>
            <a class="enter showDesktop block" ng-href="{{fnz.findDomain()}}/{{fnz.findLoc()}}/composizione?&v={{::item.i}}" title="Esplora la composizione {{fnz.convert(item.l, 'linee', 'n')}}_{{::item.c}}">ENTRA</a>
        </div>
    </div>
    <div class="info">
        <p class="cmp">PREZZO: {{::cmpPrice}} €</p>
        </div>
    </div>
</div>
