<div class="overlayer">
    <span class="enter">ENTRA</span>
</div>
<p class="title">{{articolo.n}}</p>
<p ng-if="articolo.d != ' ' && articolo.d != '-'">dim: {{articolo.d}}</p>
<p ng-if="articolo.o">{{articolo.o}}</p>
<div class="imageContainer">
    <div ng-if="!loaded" class="loader">
        <img class="loadingGIF" src="img/lazy_loading.gif">
    </div>
    <img data-src="{{path}}" class="lazyload prodottiIMG" imageonload loaded="loaded">
</div>
<p>{{price}} €</p>
<p class="title">cod: {{articolo.c}}</p>
