<div class="printContainer break">
    <div class="lista desktop">
        <div class="articolo prv">
            <p><a ng-if="prodotti" ng-click="fnz.goToArticolo(item)" title="vai all'articolo nel listino">{{item.c}}</a><span ng-if="!prodotti">{{item.c}}</span> <span>{{item.abb.c}}</span></p>
            <img ng-src="{{item.pathImg}}" title="{{item.n}}" alt="{{item.n}}">
            <div class="infoMobile">
                <p>{{item.n}}, {{item.u}}, linea <a ng-if="prodotti" ng-click="fnz.goToLinea(item.l)"title="vai alla linea">{{item.linea}}</a><span  ng-if="!prodotti">{{item.linea}}</span></p>
                <p ng-if="item.o">({{item.o}})</p>
                <p ng-if="item.d != ' ' && item.d != '-'">dim: {{item.d}}</p>
                <div class="finiture">
                    <div class="finitura" ng-repeat="f in item.abb.f">
                        <img ng-if="prodotti" ng-src="{{item.pathFin}}{{fnz.replaceAll(fnz.convert(f.i, 'finiture', 'n'), ' ', '_')}}_{{fnz.convert(f.i, 'finiture', 'c')}}.jpg">
                        <img ng-if="!prodotti" ng-src="{{item.pathFin}}{{replaceAll(fnz.convert(f.i, 'finiture', 'n'), ' ', '_')}}_{{fnz.convert(f.i, 'finiture', 'c')}}.jpg">
                        <p class="noCapital">{{fnz.convert(f.i, 'finiture', 'n')}} per {{f.n}}</p>
                    </div>
                </div>
                <p>consegna: {{item.consegna}} giorni - garanzia: {{item.garanzia}} anni</p>
            </div>
        </div>
        <div class="info prv">
            <p>{{item.n}}, {{item.u}}, linea <a ng-if="prodotti" ng-click="fnz.goToLinea(item.l)"title="vai alla linea">{{item.linea}}</a><span  ng-if="!prodotti">{{item.linea}}</span></p>
            <p ng-if="item.o">({{item.o}})</p>
            <p ng-if="item.d != ' ' && item.d != '-'">dim: {{item.d}}</p>
            <div class="finiture">
                <div class="finitura" ng-repeat="f in item.abb.f">
                    <img ng-if="prodotti" ng-src="{{item.pathFin}}{{fnz.replaceAll(fnz.convert(f.i, 'finiture', 'n'), ' ', '_')}}_{{fnz.convert(f.i, 'finiture', 'c')}}.jpg">
                    <img ng-if="!prodotti" ng-src="{{item.pathFin}}{{replaceAll(fnz.convert(f.i, 'finiture', 'n'), ' ', '_')}}_{{fnz.convert(f.i, 'finiture', 'c')}}.jpg">
                    <p class="noCapital">{{fnz.convert(f.i, 'finiture', 'n')}} per {{f.n}}</p>
                </div>
            </div>
            <p>consegna: {{item.consegna}} giorni - garanzia: {{item.garanzia}} anni</p>
        </div>
        <div class="q" ng-if="prodotti">
            <input class="form-control" type="text" ng-model="articolo.q" ng-change="dir.checkQnt(articolo.q)">
            <i class="icons-plus" ng-click="dir.add()"></i>
            <i class="icons-minus" ng-click="dir.remove()"></i>
            <i ng-if="!dir.confirm" class="icons-trashClose" ng-click="dir.askConfirm()"></i>
            <i ng-if="dir.confirm" class="icons-trashOpen" ng-click="fnz.removeFromPrv(articolo.c)" popover="Confermare" popover-trigger="mouseenter" title="Confermare"></i>
        </div>
        <div class="q" ng-if="!prodotti">
            <p>{{articolo.q}}</p>
        </div>
        <div class="prezzo">
            <p>{{item.price}} €</p>
        </div>
    </div>
</div>