<div ng-if="vm.loaded" id="footer" ng-class="{'open' : vm.footerOpen}">
    <p>mobiliperufficio.com® - copyright 2015</p>
    <p>Tutti i diritti riservati Geom.Fabrizio Dolfini p.iva 07726891000</p>
    <p><a href="https://plus.google.com/u/0/111803650150364215080" target="_blank" title="Visit my Google Plus page" rel="author">Sito web realizzato da Alessandro Iacovacci</a></p>
    <a href="https://www.facebook.com/mobiliperufficiocom-814011128625554/?ref=hl" title="Visita mobiliperufficio.com su Facebook" target="_blank">Visita mobiliperufficio.com su Facebook</a><br>
    <a href="https://plus.google.com/105034652436636507879" title="Visita mobiliperufficio.com su Google+" target="_blank">Visita mobiliperufficio.com su Google+</a>
    <p>Termini e condizioni <a ng-href="{{vm.fnz.findDomain()}}/{{vm.loc}}/privacy" title="mobiliperufficio.com condizioni di vendita">Privacy</a> e <a ng-href="{{vm.fnz.findDomain()}}/{{vm.loc}}/cookies" title="mobiliperufficio.com web policy privacy">Cookies</a></p>
    <p ng-click="vm.showContatti = true">Lista completa contatti distributori</p>
    <i class="icons-up" ng-click="vm.footerOpen = true" ng-if="!vm.footerOpen" title="Apri info"></i>
    <i class="icons-down" ng-click="vm.footerOpen = false" ng-if="vm.footerOpen" title="Chiudi info"></i>
    <p ng-click="vm.credits = !vm.credits"><a>Credits...</a></p>
    <div ng-if="vm.credits">
        <p>Icons made or inspired by
            <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from<br>
            <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
        </p>
    </div>
</div>
