<div class="title">
    <!--<a class="notranslate" ng-href="/{{vm.loc}}/home" title="Homepage" ng-click="fnz.cleanAll()">-->
    <a class="notranslate" ng-href="/{{vm.loc}}/home" title="Homepage" ng-click="fnz.cleanAll(); fnz.goHome()">
        <h1 ng-if="!data.rivenditore">mobiliperufficio.com<sup>®</sup></h1>
        <h1 ng-if="data.rivenditore">{{data.rivenditore.n}}</h1>
    </a>
    <p ng-if="!data.rivenditore">office furniture and seating made in Italy</p>
    <p ng-if="!data.rivenditore" class="numeroVerde"><i class="icons-numeroVerde"></i><span>800.62.90.91</span></p>
    <div ng-if="!data.agente">
        <p ng-if="data.rivenditore">Telefono: <span ng-if="data.rivenditore.z != 0">{{fnz.convert(data.rivenditore.z, 'nazioni', 'x')}}</span> {{data.rivenditore.h}}</p>
        <p ng-if="data.rivenditore && !data.rivenditore.h && data.rivenditore.c">Mobile: {{data.rivenditore.c}}</p>
        <p ng-if="data.rivenditore">Email: {{data.rivenditore.e}}</p>
        <p ng-if="data.rivenditore && data.rivenditore.q" class="link" ng-click="fnz.visitWebSite(data.rivenditore.q)">Sito: {{data.rivenditore.q}}</p>
    </div>
    <div ng-if="data.agente">
        <p>agente: {{data.nomeAgente}}</p>
    </div>
</div>
<!-- ****************************** MAIN ****************************** -->
<div class="icons">
    <div ng-if="prv.list.length == 0" class="icon disabled">
        <i class="icons-cart" title="Preventivo vuoto"></i>
        <p>Preventivo</p>
    </div>
    <a ng-if="prv.list.length != 0 && fnz.findPage() == 'preventivo'" href="javascript:history.back()">
        <div class="icon preventivo selected" hover-class>
            <i class="icons-cart enabled"></i>
            <p>Preventivo</p>
        </div>
    </a>
    <!--<a ng-if="prv.list.length != 0 && fnz.findPage() != 'preventivo'" ng-href="/{{vm.loc}}/preventivo">-->
    <a ng-if="prv.list.length != 0 && fnz.findPage() != 'preventivo'" ng-href="/{{vm.loc}}/preventivo">
        <div class="icon preventivo" hover-class>
            <i class="icons-cart enabled"></i>
            <p>Preventivo</p>
        </div>
    </a>
    <!--<a ng-if="!data.agente && fnz.findPage() != 'contatti'" ng-href="/{{vm.loc}}/contatti">-->
    <a ng-if="!data.agente && fnz.findPage() != 'contatti'" ng-href="/{{vm.loc}}/contatti">
        <div class="icon" hover-class>
            <i class="icons-contact"></i>
            <p>Contatti</p>
        </div>
    </a>
    <a ng-if="!data.agente && fnz.findPage() == 'contatti'" href="javascript:history.back()">
        <div class="icon selected" hover-class>
            <i class="icons-contact"></i>
            <p>Contatti</p>
        </div>
    </a>
    <div class="icon" ng-class="{selected : vm.translateMobile}" ng-click="fnz.deselectMenu('translateMobile')" hover-class>
        <i class="icons-world"></i>
        <p>Translate</p>
    </div>
    <div ng-if="!data.agente" class="icon" ng-class="{selected : vm.menu}" ng-click="fnz.deselectMenu('menu')" hover-class>
        <i class="icons-menu"></i>
        <p>Menu</p>
    </div>
    <div ng-if="data.agente" class="icon" ng-click="fnz.deselectMenu('prvSearch')" ng-class="{selected : vm.prvSearch}" hover-class>
        <i class="icons-searchList"></i>
        <p>Trova offerta</p>
    </div>
    <div ng-if="data.agente" class="icon" ng-click= "login.exit()">
        <i class="icons-logout"></i>
        <p>Log out</p>
    </div>
</div>

<!-- ****************************** MENU ****************************** -->

<div class="icons prv" ng-if="vm.menu">
    <!--<a ng-if="fnz.findPage() != 'condizioni'" ng-href="/{{vm.loc}}/condizioni">-->
    <a ng-if="fnz.findPage() != 'condizioni'" ng-href="/{{vm.loc}}/condizioni">
        <div class="icon" hover-class>
            <i class="icons-conditions"></i>
            <p>Condizioni</p>
        </div>
    </a>
    <a ng-if="fnz.findPage() == 'condizioni'" href="javascript:history.back()">
        <div class="icon selected" hover-class>
            <i class="icons-conditions"></i>
            <p>Condizioni</p>
        </div>
    </a>
    <!--<a ng-if="!data.agente && !data.rivenditore && fnz.findPage() != 'progettazione'" ng-href="/{{vm.loc}}/progettazione">-->
    <a ng-if="!data.agente && !data.rivenditore && fnz.findPage() != 'progettazione'" ng-href="/{{vm.loc}}/progettazione">
        <div class="icon" hover-class>
            <i class="icons-progetto"></i>
            <p>Progettazione</p>
        </div>
    </a>
    <a ng-if="!data.agente && !data.rivenditore && fnz.findPage() == 'progettazione'" href="javascript:history.back()">
        <div class="icon selected" hover-class>
            <i class="icons-progetto"></i>
            <p>Progettazione</p>
        </div>
    </a>
    <!--<a ng-if="!data.agente && !data.rivenditore && fnz.findPage() != 'distributori'" ng-href="/{{vm.loc}}/distributori">-->
    <a ng-if="!data.agente && !data.rivenditore && fnz.findPage() != 'distributori'" ng-href="/{{vm.loc}}/distributori">
        <div class="icon" hover-class>
            <i class="icons-map"></i>
            <p>Distributori</p>
        </div>
    </a>
    <a ng-if="!data.agente && !data.rivenditore && fnz.findPage() == 'distributori'" href="javascript:history.back()">
        <div class="icon selected" hover-class>
            <i class="icons-map"></i>
            <p>Distributori</p>
        </div>
    </a>
    <div ng-if="!data.agente" class="icon" ng-click="fnz.deselectMenu('prvSearch')" ng-class="{selected : vm.prvSearch}" hover-class>
        <i class="icons-searchList"></i>
        <p>Trova offerta</p>
    </div>
    <div ng-if="!data.agente && !data.rivenditore" class="icon" ng-click="fnz.deselectMenu('share')" ng-class="{selected : vm.menuShare}" hover-class>
        <i class="icons-share"></i>
        <p>Condividi</p>
    </div>
    <!--
        <div class="icon" hover-class>
            <i class="icons-search"></i>
            <p>Cerca</p>
        </div>
    -->
    <!--<a ng-if="!data.agente && !data.rivenditore && fnz.findPage() != 'faq'" ng-href="/{{vm.loc}}/faq">-->
    <a ng-if="!data.agente && !data.rivenditore && fnz.findPage() != 'faq'" ng-href="/{{vm.loc}}/faq">
        <div class="icon" hover-class>
            <i class="icons-faq"></i>
            <p>F.A.Q.</p>
        </div>
    </a>
    <a ng-if="!data.agente && !data.rivenditore && fnz.findPage() == 'faq'" href="javascript:history.back()">
        <div class="icon selected" hover-class>
            <i class="icons-faq"></i>
            <p>F.A.Q.</p>
        </div>
    </a>
    <div ng-if="!data.agente" class="icon" ng-click="fnz.requestInfo()" ng-class="{selected : request.u}" hover-class>
        <i class="icons-request"></i>
        <p>Informazioni</p>
    </div>
    <div ng-if="!data.agente" class="icon" ng-click="fnz.deselectMenu('login')" ng-class="{selected : vm.login || (vm.hover && !vm.login)}" hover-class>
        <i class="icons-login"></i>
        <p>Sign in</p>
    </div>
</div>

<!-- ****************************** MENU SHARE ****************************** -->

<div class="icons prv" ng-if="vm.menuShare">
    <h6>CONDIVIDI IL NOSTRO SITO</h6>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://mobiliperufficio.com" target="_blank" title="Condividi mobiliperufficio.com su Facebook">
    <div class="icon" hover-class>
        <i class="icons-facebook"></i>
        <p>Facebook</p>
    </div>
    </a>
    <a href=https://plus.google.com/share?url=http://mobiliperufficio.com" target="_blank" title="Condividi mobiliperufficio.com su Google Plus">
    <div class="icon" hover-class>
        <i class="icons-googlePlus"></i>
        <p>Google +</p>
    </div>
    </a>
    <a href="https://twitter.com/share?url=http://mobiliperufficio.com" target="_blank" title="Condividi mobiliperufficio.com su Twitter">
    <div class="icon disabled" hover-class>
        <i class="icons-twitter"></i>
        <p>Twitter</p>
    </div>
    </a>
    <div class="icon" ng-click="vm.menuEmail = !vm.menuEmail" ng-class="{selected : vm.menuEmail}" hover-class>
        <i class="icons-sendEmail"></i>
        <p>Email</p>
    </div>
</div>

<!-- ****************************** MENU EMAIL ****************************** -->

<div class="loginForm" ng-if="vm.menuEmail">
    <email type="menu" change="vm.menuEmail" vm="vm"></email>
</div>

<!-- ****************************** PREVENTIVO SEARCH ****************************** -->

<div class="loginForm" ng-if="vm.prvSearch">
    <form name="searchPrv">
        <input clear-input-with-esc class="form-control login" type="text" placeholder="Codice di riferimento" ng-model="vm.prvSearchID" required>
        <button type="submit" class="btn btn-success" ng-click="fnz.searchPrv(vm.prvSearchID)" ng-disabled="!searchPrv.$valid">Cerca</button>
        <span ng-if="vm.prvSearchError" class="message error">Preventivo non trovato o scaduto</span>
    </form></div>

<!-- ****************************** TRANSLATE ****************************** -->

<div ng-if="vm.translateMobile">
    <div id="google_translate_element"></div>
</div>

<!-- ****************************** LOGIN ****************************** -->

<div class="loginForm" ng-if="vm.login">
    <form name="loginForm">
        <input clear-input-with-esc class="form-control login" type="text" placeholder="Username" ng-model="login.user" required>
        <input clear-input-with-esc class="form-control login" type="password" placeholder="Password" ng-model="login.psw" required>
        <button type="submit" class="btn btn-success" ng-click="login.access()" ng-disabled="!loginForm.$valid">Accedi</button>
        <span class="message error" ng-if="login.error">Dati incorretti</span>
    </form>
</div>

<!-- ****************************** CONDIZIONI ****************************** -->

<div class="icons prv white" ng-if="fnz.findPage() == 'condizioni'">
    <h6>CONDIZIONI GENERALI DI VENDITA</h6>
    <a ng-href="print/{{vm.loc}}/condizioni" target="_blank" title="Stampa le condizioni di vendita">
        <div class="icon" hover-class>
            <i class="icons-print"></i>
            <p>Stampa</p>
        </div>
    </a>
</div>

<!-- ****************************** PRIVACY ****************************** -->

<div class="icons prv white" ng-if="fnz.findPage() == 'privacy'">
    <h6>NORMATIVA SULLA PRIVACY</h6>
    <a ng-href="print/{{vm.loc}}/privacy" target="_blank" title="Stampa le normative sulla privacy">
        <div class="icon" hover-class>
            <i class="icons-print"></i>
            <p>Stampa</p>
        </div>
    </a>
</div>

<!-- ****************************** PREVENTIVO ****************************** -->

<div class="icons prv white" ng-if="fnz.findPage() == 'preventivo'">
    <h6>GESTIONE PREVENTIVO</h6>
    <div class="inline" ng-if="prv.list.length == 0 || (!prv.pr && !data.rivenditore)">
        <div class="icon disabled">
            <i class="icons-approvedCart"></i>
            <p>Ordina</p>
        </div>
        <div class="icon disabled">
            <i class="icons-print"></i>
            <p>Stampa</p>
        </div>
        <div class="icon disabled">
            <i class="icons-share"></i>
            <p>Condividi</p>
        </div>
    </div>
    <div class="inline" ng-if="prv.list.length != 0 && (prv.pr || data.rivenditore)">
        <div class="icon" ng-click="fnz.savePrv('o')" hover-class>
            <i class="icons-approvedCart"></i>
            <p>Ordina</p>
        </div>
        <a ng-href="print/{{vm.loc}}/preventivo/{{dataPrv.ID}}" target="_blank" title="Stampa il preventivo">
            <div class="icon" ng-click="fnz.savePrv('p')" hover-class>
                <i class="icons-print"></i>
                <p>Stampa</p>
            </div>
        </a>
        <div class="icon" ng-class="{selected : vm.prvShare}" ng-click="fnz.savePrv('s'); fnz.deselectMenu('prvShare')" hover-class>
            <i class="icons-share"></i>
            <p>Condividi</p>
        </div>
    </div>
    <div ng-if="!vm.cleanPrv" class="icon" ng-class="{disabled : prv.list.length == 0}" ng-click="fnz.confirmCleanPrv()" hover-class>
        <i class="icons-trashCloseBig"></i>
        <p>Elimina</p>
    </div>
    <div ng-if="vm.cleanPrv" class="icon" ng-class="{confirm : vm.cleanPrv}" ng-click="fnz.cleanPrv()" hover-class>
        <i class="icons-trashOpenBig"></i>
        <p>Conferma</p>
    </div>
</div>

<!-- ****************************** PREVENTIVO SHARE ****************************** -->

<div class="icons prv" ng-if="vm.prvShare && fnz.findPage() == 'preventivo'">
    <h6>CONDIVIDI QUESTO PREVENTIVO</h6>
    <div class="icon">
        <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{vm.prvShareUrl}}" target="_blank" title="Condividi questo preventivo su Facebook">
            <i class="icons-facebook"></i>
            <p>Facebook</p>
        </a>
    </div>
    <div class="icon">
        <a ng-href=https://plus.google.com/share?url={{vm.prvShareUrl}}" target="_blank" title="Condividi questo preventivo su Google Plus">
            <i class="icons-googlePlus"></i>
            <p>Google +</p>
        </a>
    </div>
    <div class="icon">
        <a ng-href="https://twitter.com/share?url={{vm.prvShareUrl}}" target="_blank" title="Condividi questo preventivo su Twitter">
            <i class="icons-twitter"></i>
            <p>Twitter</p>
        </a>
    </div>
    <div class="icon" ng-click="vm.prvEmail = !vm.prvEmail" ng-class="{selected : vm.prvEmail}" hover-class>
        <i class="icons-sendEmail"></i>
        <p>Email</p>
    </div>
</div>

<!-- ****************************** PREVENTIVO EMAIL ****************************** -->

<div class="loginForm" ng-if="vm.prvEmail">
    <email type="preventivo" change="vm.prvEmail" cod="dataPrv.ID" vm="vm"></email>
</div>

<!-- ****************************** ORDINE ****************************** -->

<!--
<div class="icons prv white" ng-if="vm.order">
    <h6>DATI DI FATTURAZIONE E SPEDIZIONE</h6>
    <div class="icon order" ng-class="{disabled : !vm.validated}" ng-click="fnz.saveOrder(dataPrv.ID)"  hover-class>
        <i class="icons-order"></i>
        <p>Invia richiesta d'ordine</p>
    </div>
</div>
-->

<!-- ****************************** PRODOTTI/COMPOSIZIONI SHARE ****************************** -->

<!--
<div class="icons prv white" ng-if="vm.prdShare && (fnz.findPage() == 'vetrina' || fnz.findPage() == 'composizione' || fnz.findPage() == 'articolo')">
    <h6 ng-if="fnz.findPage() == 'vetrina' || fnz.findPage() == 'composizione'">CONDIVIDI QUESTA COMPOSIZIONE</h6>
    <h6 ng-if="fnz.findPage() == 'articolo'">CONDIVIDI QUESTO ARTICOLO</h6>
    <div class="icon disabled">
        &lt;!&ndash;<a href="https://www.facebook.com/sharer/sharer.php?u={{vm.prvShareUrl}}" target="_blank" title="Condividi questo preventivo su Facebook">&ndash;&gt;
        <i class="icons-facebook"></i>
        <p>Facebook</p>
        &lt;!&ndash;</a>&ndash;&gt;
    </div>
    <div class="icon disabled">
        &lt;!&ndash;<a href=https://plus.google.com/share?url={{vm.prvShareUrl}}" target="_blank" title="Condividi questo preventivo su Facebook">&ndash;&gt;
        <i class="icons-googlePlus"></i>
        <p>Google +</p>
        &lt;!&ndash;</a>&ndash;&gt;
    </div>
    <div class="icon disabled">
        &lt;!&ndash;<a href="https://twitter.com/share?url={{vm.prvShareUrl}}" target="_blank" title="Condividi questo preventivo su Twitter">&ndash;&gt;
        <i class="icons-twitter"></i>
        <p>Twitter</p>
        &lt;!&ndash;</a>&ndash;&gt;
    </div>
    <div class="icon" ng-click="vm.prdEmail = !vm.prdEmail" ng-class="{selected : vm.prdEmail}" hover-class>
        <i class="icons-sendEmail"></i>
        <p>Email</p>
    </div>
</div>
-->

<!-- ****************************** PRODOTTI/COMPOSIZIONI EMAIL ****************************** -->

<!--
<div class="loginForm" ng-if="vm.prdEmail">
    <email type="prodotti" switch="vm.prvEmail" cod="dataPrv.ID" path="current.path" vm="vm"></email>
</div>
-->

<!-- ****************************** MODELLI DWG EMAIL ****************************** -->

<div class="loginForm" ng-if="(fnz.findPage() == 'vetrine' || fnz.findPage() == 'listino' || fnz.findPage() == 'composizioni') && vm.dwgEmail">
    <h6>RICHIESTA MODELLI DWG - {{current.lin.n}}</h6>
    <email type="dwg" vm="vm" linea="{{current.lin.n}}"></email>
</div>

<!-- ****************************** PRODOTTI ****************************** -->

<div ng-if="!vm.prv" class="menu">
    <select class="form-control" ng-options="c.i as c.n for c in vm.categorie | filter : {v : 1} : true | orderBy : 'y'" ng-model="current.cat" ng-change="fnz.setCurCat(current.cat)">
        <option value="">{{vm.optionCategoria}}</option>
    </select>
    <select ng-if="current.cat" class="form-control" ng-options="s.i as s.n for s in vm.settori | filter : {g : current.cat, v : 1} : true | orderBy : 'y'" ng-model="current.sett" ng-change="fnz.setCurSet(current.sett);">
        <option value="">{{vm.optionSettore}}</option>
    </select>
    <select ng-if="current.sett" class="form-control" ng-options="l as l.n for l in current.settore |
        filterByPrice : filtro.price : true |
        filterByDelivery : filtro.delivery : true |
        orderBy : '[z, m]'" ng-model="current.lin" ng-change="fnz.creaLinea(current.lin.i);">
        <option value="">{{vm.optionLinea}}</option>
    </select>
</div>

<!-- ****************************** LINEA ****************************** -->

<div class="icons prv white" ng-if="fnz.findPage() == 'vetrine' || fnz.findPage() == 'listino' || fnz.findPage() == 'composizioni'">
    <h6>GESTIONE LINEA</h6>
    <a ng-if="current.lin.k == 1" ng-href="{{fnz.pdfPath('c')}}" target="_blank">
        <div class="icon" hover-class>
            <i class="icons-catalogo"></i>
            <p>PDF catalogo</p>
        </div>
    </a>
    <div ng-if="current.lin.k == 0" class="icon disabled" hover-class>
        <i class="icons-catalogo"></i>
        <p>PDF catalogo</p>
    </div>
    <a ng-if="current.lin.j == 1" ng-href="{{fnz.pdfPath('s')}}" target="_blank">
        <div class="icon" hover-class>
            <i class="icons-specifiche"></i>
            <p>PDF tecnico</p>
        </div>
    </a>
    <div ng-if="current.lin.k == 0" class="icon disabled" hover-class>
        <i class="icons-specifiche"></i>
        <p>PDF tecnico</p>
    </div>
    <div class="icon" ng-class="{selected : vm.dwgEmail}" ng-click="vm.dwgEmail = !vm.dwgEmail" hover-class>
        <i class="icons-3D"></i>
        <p>Modelli DWG</p>
    </div>
    <!--
        <div class="icon" ng-class="{selected : vm.prdShare}" ng-click="fnz.deselectMenu(prdShare)" hover-class>
            <i class="icons-share"></i>
            <p>Condividi</p>
        </div>
    -->
    <div class="icon" ng-click="fnz.requestInfo('articolo')" ng-class="{selected : request.u}" hover-class>
        <i class="icons-request"></i>
        <p>Informazioni</p>
    </div>
</div>

<!-- ****************************** ARTICOLO ****************************** -->

<div class="icons prv white" ng-if="vm.menuArt">
    <h6>GESTIONE ARTICOLO</h6>
    <a ng-if="current.lin.k == 1" ng-href="{{fnz.pdfPath('c')}}" target="_blank">
        <div class="icon" hover-class>
            <i class="icons-catalogo"></i>
            <p>PDF catalogo</p>
        </div>
    </a>
    <div ng-if="current.lin.k == 0" class="icon disabled" hover-class>
        <i class="icons-catalogo"></i>
        <p>PDF catalogo</p>
    </div>
    <a ng-if="current.lin.j == 1" ng-href="{{fnz.pdfPath('s')}}" target="_blank">
        <div class="icon" hover-class>
            <i class="icons-specifiche"></i>
            <p>PDF tecnico</p>
        </div>
    </a>
    <div ng-if="current.lin.k == 0" class="icon disabled" hover-class>
        <i class="icons-specifiche"></i>
        <p>PDF tecnico</p>
    </div>
    <a ng-href="print/{{vm.loc}}/articolo/{{current.art}}" target="_blank" title="Stampa la scheda di questo articolo">
        <div class="icon" hover-class>
            <i class="icons-print"></i>
            <p>Stampa</p>
        </div>
    </a>
    <!--
        <div class="icon" ng-class="{selected : vm.prdShare}" ng-click="fnz.deselectMenu(prdShare)" hover-class>
            <i class="icons-share"></i>
            <p>Condividi</p>
        </div>
    -->
    <div class="icon" ng-click="fnz.requestInfo('articolo')" ng-class="{selected : request.u}" hover-class>
        <i class="icons-request"></i>
        <p>Informazioni</p>
    </div>
</div>

<!-- ****************************** COMPOSIZIONE ****************************** -->

<div class="icons prv white" ng-if="vm.menuCmp">
    <h6>GESTIONE COMPOSIZIONE</h6>
    <a ng-if="current.lin.k == 1" ng-href="{{current.cmp.pdfPath}}_catalogo.pdf" target="_blank">
        <div class="icon" hover-class>
            <i class="icons-catalogo"></i>
            <p>PDF catalogo</p>
        </div>
    </a>
    <div ng-if="current.lin.k == 0" class="icon disabled" hover-class>
        <i class="icons-catalogo"></i>
        <p>PDF catalogo</p>
    </div>
    <a ng-if="current.lin.j == 1" ng-href="{{current.cmp.pdfPath}}_specifiche.pdf" target="_blank">
        <div class="icon" hover-class>
            <i class="icons-specifiche"></i>
            <p>PDF tecnico</p>
        </div>
    </a>
    <div ng-if="current.lin.k == 0" class="icon disabled" hover-class>
        <i class="icons-specifiche"></i>
        <p>PDF tecnico</p>
    </div>
    <a ng-if="fnz.findPage() == 'composizione'" ng-href="print/{{vm.loc}}/composizione/{{current.cmp.i}}" target="_blank" title="Stampa la scheda di questa composizione">
        <div class="icon" hover-class>
            <i class="icons-print"></i>
            <p>Stampa</p>
        </div>
    </a>
    <a ng-if="fnz.findPage() == 'vetrina'" ng-href="print/{{vm.loc}}/vetrina/{{current.cmp.i}}" target="_blank" title="Stampa la scheda di questa composizione">
        <div class="icon" hover-class>
            <i class="icons-print"></i>
            <p>Stampa</p>
        </div>
    </a>
    <!--
        <div class="icon" ng-class="{selected : vm.prdShare}" ng-click="fnz.deselectMenu(prdShare)" hover-class>
            <i class="icons-share"></i>
            <p>Condividi</p>
        </div>
    -->
    <div class="icon" ng-click="fnz.requestInfo('composizione')" ng-class="{selected : request.u}" hover-class>
        <i class="icons-request"></i>
        <p>Informazioni</p>
    </div>
</div>

    <!-- ****************************** FASI ****************************** -->

<div ng-if="current.lin && !vm.prv" class="menu">
    <div ng-if="current.lin && !vm.prv" class="fasi">
        <div class="icon" ng-class="{'available' : fnz.checkManager(m.i), 'selected' : current.page == m.i}" ng-repeat="m in vm.lineeManager | orderBy : 'y'" ng-click="fnz.setCurPage(m.i)">
            <i ng-class="{'icons-available' : fnz.checkManager(m.i), 'icons-available-not' : !fnz.checkManager(m.i)}"></i>
            <p>{{m.n}}</p>
        </div>
    </div>
    <div ng-if="!current.cmp &&  !current.art && !vm.prv" ng-switch on="current.page">
        <div ng-if="current.marchiTabelle.length > 1" ng-switch-when="2" class="lista">
            <select class="form-control" ng-options="t.i as t.n for t in current.marchiTabelle | orderBy : 'y'" data-ng-model="filtro.tbpr">
                <option value="" selected>TUTTI GLI ARTICOLI</option>
            </select>
            <input class="form-control" type="text" placeholder="Cerca per codice" ng-model="filtro.prdValue" ng-keyup="fnz.checkInput($event, 'prd')">
        </div>
        <div ng-switch-when="3" class="lista">
            <select class="form-control" ng-options="c.c as (fnz.convert(c.l, 'linee', 'n') + '_' + c.c) for c in  current.compostiMenu | orderBy : 'y'" data-ng-model="filtro.cmp">
                <option value="" selected>TUTTE LE COMPOSIZIONI</option>
            </select>
        </div>
    </div>
    <div ng-if="current.art && !vm.prv" class="lista">
        <select ng-change="fnz.changePrd()" class="form-control" ng-options="t.i as t.n for t in current.marchiTabelle | orderBy : 'y'" data-ng-model="filtro.tbpr">
            <option value="" selected>TUTTI GLI ARTICOLI</option>
        </select>
    </div>
    <div ng-if="!vm.prv" ng-switch on="current.cmp.type">
        <div ng-switch-when="vtr" class="lista">
            <select ng-change="fnz.changeCmp(current.cmp, 'v')" class="form-control" ng-options="v as (fnz.convert(v.l, 'linee', 'n') + '_' + v.c) for v in  current.vetrine | orderBy : 'y'" data-ng-model="current.cmp">
                <option value="">TUTTE LE ESPOSIZIONI</option>
            </select>
        </div>
        <div ng-switch-when="cmp" class="lista">
            <select ng-change="fnz.changeCmp(current.cmp, 'c')" class="form-control" ng-options="c as (fnz.convert(c.l, 'linee', 'n') + '_' + c.c + '_' + c.f) for c in  current.composti | orderBy : 'y'" data-ng-model="current.cmp">
                <option value="">TUTTE LE COMPOSIZIONI</option>
            </select>
        </div>
    </div>
</div>