<button type="button" class="btn btn-info saveData" ng-click="saveDataDB()" ng-disabled="saving">SAVE DATA FROM DB</button>
<div class="nuovo" ng-if="!agente.selected">
    <h1>nuova agente</h1>
    <div class="rows">
        <select class="form-control dim" ng-options="c.i as (c.n + ' (' + convert(c.p, 'province', 'n') + ')') for c in vm.rivenditori | orderBy : 'n'" data-ng-model="vm.nuovoAgente.r">
            <option value="" selected>Rivenditore / Convenzione</option>
        </select>
        <input class="form-control dim" type="text" placeholder="Nome" ng-model="vm.nuovoAgente.n">
    </div>
    <div class="rows">
        <input class="form-control dim" type="text" placeholder="Email" ng-model="vm.nuovoAgente.e">
        <input class="form-control dim" type="text" placeholder="Password" ng-model="vm.nuovoAgente.p">
    </div>
    <div class="rows">
        <input class="form-control dim" type="text" placeholder="Telefono" ng-model="vm.nuovoAgente.t">
    </div>
    <div class="rows">
        <button class="btn btn-primary" type="button" ng-click="action('N')" ng-disabled="updateCheck()">SUBMIT</button>
        <button class="btn btn-primary" type="button" ng-click="newItem()">RESET</button>
    </div>
</div>
<div class="modifica" ng-if="agente.selected">
    <h1>modifica agente</h1>
    <agenti agente-original = "agente" vm = "vm"></agenti>
</div>

<div class="gestione">
    <h1>gestione agenti</h1>
    <div class="filtri">
        <input class="form-control nome" type="text" placeholder="Filtro agente" ng-model="input" ng-keyup="eraseInput($event)" title="Filtro agente">
        <div class="inlineBlock" ng-include="'include/rivenditoriFilter.html'"></div>
        <input class="form-control pos" type="number" ng-model="vm.itemsPerPage" popover="Numero di risultati per pagina" popover-trigger="mouseenter">
        <i class="icons-sort blu" popover="Ordina per nome" popover-trigger="mouseenter" ng-click="sorting('n')"></i>
    </div>
    <div class="list">
        <div ng-repeat="s in vm.agenti
        | orderBy : vm.sorting
        | filterByRiv : filtro.rivenditore.i
        | filter : {n : filtro.agente.n}
        | offset: ((vm.currentPage -1) * vm.itemsPerPage) : ((vm.currentPage -1) * vm.itemsPerPage + vm.itemsPerPage)">
            <h4 ng-click="selectItem(s)">{{s.n}}</h4>
            <p>{{s.e}}</p>
            <p>{{s.p}}</p>
            <p>{{s.t}}</p>
            <p>{{convert(s.r, 'rivenditori', 'n')}}</p>
            <p ng-if="convert(s.r, 'rivenditori', 'p') != 0">{{convert(convert(s.r, 'rivenditori', 'p'), 'province', 'n')}}</p>
            <p ng-if="convert(s.r, 'rivenditori', 'p') == 0">Convenzione</p>
        </div>
        <div ng-if="(vm.agenti
                    | filterByRiv : filtro.rivenditore.i
                    | filter : {n : filtro.agente.n}
                ).length != 0" class="paginationContainer">
            <pagination
                    total-items="(vm.agenti
                    | filterByRiv : filtro.rivenditore.i
                    | filter : {n : filtro.agente.n}
                    ).length"
                    ng-model="vm.currentPage"
                    boundary-links="true"
                    max-size = "vm.maxSize"
                    items-per-page = "vm.itemsPerPage"
                    rotate = "false">
            </pagination>
        </div>
        <h5 ng-if="(vm.agenti
                | filterByRiv : filtro.rivenditore.i
                | filter : {n : filtro.agente.n}
            ).length == 0">Nessun risultato disponibile</h5>
    </div>
</div>