<button type="button" class="btn btn-info saveData" ng-click="saveDataDB()" ng-disabled="saving">SAVE DATA FROM DB</button>
<div class="nuovo" ng-if="!compostoProdotto.selected">
    <h1>nuovo prodotto per composizione</h1>
    <div class="rows">
        <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="vm.nuovoCompostoProdotto.k">
            <option value="" selected>Marchio composizione</option>
        </select>
        <select ng-disabled="!vm.nuovoCompostoProdotto.k" class="form-control marchio" ng-options="l.i as l.n for l in vm.linee | filter : {m : vm.nuovoCompostoProdotto.k} : true| orderBy : 'n'" data-ng-model="vm.nuovoCompostoProdotto.j">
            <option value="" selected>Linea composizione</option>
        </select>
        <select ng-disabled="!vm.nuovoCompostoProdotto.j" class="form-control marchio" ng-options="v.i as (v.c + '_' + v.f) for v in vm.composti | filter : {l : vm.nuovoCompostoProdotto.j} : true| orderBy : 'c'" data-ng-model="vm.nuovoCompostoProdotto.c">
            <option value="" selected>Composizione</option>
        </select>
        <input class="form-control pos" type="number" placeholder="0" ng-model="vm.nuovoCompostoProdotto.y" popover="Posizione" popover-trigger="mouseenter">
    </div>
    <div class="rows">
        <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="vm.nuovoCompostoProdotto.m">
            <option value="" selected>Marchio prodotto</option>
        </select>
        <select ng-disabled="!vm.nuovoCompostoProdotto.m" class="form-control marchio" ng-options="l.i as l.n for l in vm.linee | filter : {m : vm.nuovoCompostoProdotto.m} : true | orderBy : 'n'" data-ng-model="vm.nuovoCompostoProdotto.l">
            <option value="" selected>Linea prodotto</option>
        </select>
        <select ng-disabled="!vm.nuovoCompostoProdotto.l" class="form-control marchio" ng-options="v.i as v.c for v in vm.prodotti | filter : {l : vm.nuovoCompostoProdotto.l} : true | orderBy : 'c'" data-ng-model="vm.nuovoCompostoProdotto.p">
            <option value="" selected>Prodotto</option>
        </select>
        <input class="form-control pos" type="number" placeholder="0" ng-model="vm.nuovoCompostoProdotto.q" popover="Quantità" popover-trigger="mouseenter">
    </div>
    <div class="rows">
        <select ng-disabled="!vm.nuovoCompostoProdotto.p" class="form-control tabelleVetrina" ng-options="t.i as t.n for t in tabsAvailable | orderBy : 'n'" data-ng-model="vm.nuovoCompostoProdotto.u">
            <option value="" selected>Tabelle finiture</option>
        </select>
        <select ng-disabled="!vm.nuovoCompostoProdotto.u" class="form-control marchio" ng-options="v.i as v.c for v in finsAvailable" data-ng-model="vm.nuovoCompostoProdotto.f">
            <option value="" selected>Finitura</option>
        </select>
    </div>
    <div class="rows">
        <button class="btn btn-primary" type="button" ng-click="action('N')" ng-disabled="updateCheck()">SUBMIT</button>
        <button class="btn btn-primary" type="button" ng-click="newItem()">RESET</button>
    </div>
</div>
<div class="modifica" ng-if="compostoProdotto.selected">
    <h1>modifica prodotto in composizione</h1>
    <composti-prodotti composto-prodotto-original = "compostoProdotto" vm = "vm"></composti-prodotti>
</div>

<div class="gestione">
    <h1>gestione prodotto in composizione</h1>
    <div class="filtri">
        <div class="rows">
            <div class="inlineBlock" ng-include="'include/lineeFilter.html'"></div>
            <input class="form-control shortCod" type="text" placeholder="Filtro Comp." ng-model="input" ng-keyup="eraseInput($event)" title="Filtro composizione">
            <input class="form-control nome" type="text" placeholder="Filtro prodotto" ng-model="inputCod" ng-keyup="eraseInput($event, 1)" title="Filtro Prodotto">
            <input class="form-control pos" type="number" ng-model="vm.itemsPerPage" popover="Numero di risultati per pagina" popover-trigger="mouseenter">
        </div>
    </div>
    <div class="list">
        <div ng-repeat="s in vm.compostiProdotti
        | orderBy           :   vm.sorting
        | filterByLineVtr   :   filtro.linea.i
        | filterByPrd       :   filtro.compostoProdotto.p
        | filterByCmp       :   filtro.compostoProdotto.c
        | offset            :   ((vm.currentPage -1) * vm.itemsPerPage) : ((vm.currentPage -1) * vm.itemsPerPage + vm.itemsPerPage)
        ">
            <h4 ng-click="selectItem(s)">{{convert(s.p, 'prodotti', 'c')}} {{convert(s.f, 'abbinamenti', 'c')}} <span>{{convert(s.u, 'finitureTabelle', 'n')}}</span></h4>
            <p class="listTitle">Comp.: &nbsp;</p>
            <p>{{convert(s.k, 'marchi', 'n')}}</p>
            <p>{{convert(s.j, 'linee', 'n')}}</p>
            <p>Cod: {{convert(s.c, 'composti', 'c')}}_{{convert(s.c, 'composti', 'f')}}</p><br>
            <p class="noBorder listTitle">Prodotto: </p>
            <p>{{convert(s.m, 'marchi', 'n')}}</p>
            <p>{{convert(s.l, 'linee', 'n')}}</p>
            <p>Pos: {{s.y}}</p>
            <p>Qnt: {{s.q}}</p>
        </div>
        <div ng-if="(vm.compostiProdotti
                | filterByLineVtr   :   filtro.linea.i
                | filterByPrd       :   filtro.compostoProdotto.p
                | filterByCmp       :   filtro.compostoProdotto.c
            ).length != 0" class="paginationContainer">
            <pagination
                    total-items = "(vm.compostiProdotti
                        | filterByLineVtr   :   filtro.linea.i
                        | filterByPrd       :   filtro.compostoProdotto.p
                        | filterByCmp       :   filtro.compostoProdotto.c
                    ).length"
                    ng-model = "vm.currentPage"
                    boundary-links = "true"
                    max-size = "vm.maxSize"
                    items-per-page = "vm.itemsPerPage"
                    rotate = "false">
            </pagination>
        </div>
        <h5 ng-if="(vm.compostiProdotti 
            | filterByLineVtr   :   filtro.linea.i
            | filterByPrd       :   filtro.compostoProdotto.p
            | filterByCmp       :   filtro.compostoProdotto.c
        ).length == 0">Nessun risultato disponibile</h5>
    </div>
</div>