<button type="button" class="btn btn-info saveData" ng-click="saveDataDB()" ng-disabled="saving">SAVE DATA FROM DB</button>
<div class="nuovo" ng-if="!esposizione.selected">
    <h1>nuova esposizione</h1>
    <div class="rows">
        <select class="form-control marchio" ng-options="c.i as c.n for c in vm.marchi | orderBy : 'n'" data-ng-model="vm.nuovaEsposizione.m">
            <option value="" selected>Marchio</option>
        </select>
        <select ng-disabled="!vm.nuovaEsposizione.m" class="form-control linea" ng-options="l.i as l.n for l in vm.linee | filter : {m : vm.nuovaEsposizione.m} : true | orderBy : 'n'" data-ng-model="vm.nuovaEsposizione.l">
            <option value="" selected>Linea</option>
        </select>
        <select ng-disabled="!vm.nuovaEsposizione.l" class="form-control marchio" ng-options="t.i as t.n for t in vm.tbpr | filter : {m : vm.nuovaEsposizione.m} : true | orderBy : 'n'" data-ng-model="vm.nuovaEsposizione.t">
            <option value="" selected>Tipologia</option>
        </select>
    </div>
    <div class="rows">
        <input class="form-control nome" type="text" placeholder="Finitura" ng-model="vm.nuovaEsposizione.f">
        <input class="form-control dim" type="text" placeholder="Dimensioni" ng-model="vm.nuovaEsposizione.d">
        <input class="form-control vetrinaCod" type="text" placeholder="Cod" ng-model="vm.nuovaEsposizione.c">
        <input class="form-control pos" type="number" placeholder="0" ng-model="vm.nuovaEsposizione.y" popover="Posizione" popover-trigger="mouseenter">
    </div>
    <div class="rows">
        <input list="titoloProdotto" class="form-control bigTitolo" type="text" placeholder="Titolo prodotto" ng-model="vm.nuovaEsposizione.n">
    </div>
    <div class="rows">
        <div class="dropAreaFileImage" ng-class="{solidBorder : vm.nuovaEsposizione.r}">
            <input type="file" class="dropArea" fileread="vm.nuovaEsposizione.r">
            <span ng-if="!vm.nuovaEsposizione.r">DROP FILE HERE</span>
            <div class="fileImage">
                <img ng-if="vm.nuovaEsposizione.r" ng-src="{{vm.nuovaEsposizione.r}}">
            </div>
        </div>
    </div>
    <div class="rows">
        <button class="btn btn-primary" type="button" ng-click="action('N')" ng-disabled="updateCheck()">SUBMIT</button>
        <button class="btn btn-primary reset" type="button" ng-click="newItem()">RESET</button>
    </div>
    <div class="rows">
        <button class="btn btn-danger errore" ng-if="errore.esposizione">ERRORE - ESPOSIZIONI ESISTENTE</button>
    </div>
</div>
<div class="modifica" ng-if="esposizione.selected">
    <h1>modifica esposizione</h1>
    <esposizioni esposizione-original = "esposizione" vm = "vm"></esposizioni>
</div>

<div class="gestione">
    <h1>gestione esposizioni</h1>
    <div class="filtri">
        <div class="rows">
            <input class="form-control nome" type="text" placeholder="Filtro codice" ng-model="input" ng-keyup="eraseInput($event)" title="Filtro codice">
            <div class="inlineBlock" ng-include="'include/lineeFilter.html'"></div>
            <input class="form-control pos" type="number" ng-model="vm.itemsPerPage" popover="Numero di risultati per pagina" popover-trigger="mouseenter">
            <i class="icons-sort blu" popover="Ordina per codice" popover-trigger="mouseenter" ng-click="sorting('c')"></i>
            <i class="icons-sort red" popover="Ordina per posizione" popover-trigger="mouseenter" ng-click="sorting('y')"></i>
        </div>
    </div>
    <div class="list">
        <div ng-repeat="s in vm.esposizioni
        | orderBy : vm.sorting
        | filterByLine : filtro.linea.i
        | filter : {c : filtro.esposizione.c}
        | offset : ((vm.currentPage -1) * vm.itemsPerPage) : ((vm.currentPage -1) * vm.itemsPerPage + vm.itemsPerPage)
        ">
            <h4 ng-click="selectItem(s)">{{convert(s.l, 'linee', 'n')}}_{{s.c}}_{{s.f}}<span ng-if="s.n">{{s.n}}</span></h4>
            <p>Pos: {{s.y}}</p>
            <p>{{convert(s.m, 'marchi', 'n')}}</p>
            <p>{{convert(s.l, 'linee', 'n')}}</p>
            <p>{{convert(s.t, 'tbpr', 'n')}}</p>
            <p ng-if="s.d">Dim: {{s.d}}</p>
        </div>
        <div ng-if="(vm.esposizioni
            | filterByLine : filtro.linea.i
            | filter : {c : filtro.esposizione.c}
            ).length != 0" class="paginationContainer">
            <pagination
                    total-items = "(vm.esposizioni
                    | filterByLine : filtro.linea.i
                    | filter : {c : filtro.esposizione.c}).length
                    "
                    ng-model = "vm.currentPage"
                    boundary-links = "true"
                    max-size = "vm.maxSize"
                    items-per-page = "vm.itemsPerPage"
                    rotate = "false">
            </pagination>
        </div>
        <h5 ng-if="(vm.esposizioni
            | filterByLine : filtro.linea.i
            | filter : {c : filtro.esposizione.c}
            ).length == 0">Nessun risultato disponibile</h5>
    </div>
</div>