<div class="row">
    <div class="col-12 mt-3">
        <h1>Marchi</h1>
    </div>
    <div class="col-12 mb-5">
        <marchi entity="entity.marchio"></marchi>
    </div>
    <div class="col-9">
        <ul uib-pagination class="pagination-md justify-content-end mb-0"
            boundary-links="true"
            total-items="($root.marchi | filter : {mark_nome : $root.settings.query.marchio}).length"
            items-per-page="$root.settings.itemsPerPage"
            max-size="3"
            ng-model="entity.currentPage"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            force-ellipses="true"
        ></ul>
    </div>
    <div class="col-1">
        <input type="number" class="form-control" ng-model="$root.settings.itemsPerPage" title="" uib-tooltip="Elementi per pagina" >
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.marchio" title="" placeholder="Filtro marchio">
    </div>
</div>
<div class="col-12 p-0  mt-3 list">
    <div ng-repeat="e in $root.marchi | filter : {mark_nome : $root.settings.query.marchio}"
         ng-if="$root.settings.show($index, entity.currentPage)"
         ng-click="selectItem(e)">
        <h4>{{e['mark_nome']}}</h4>
        <p>{{$root.settings.idToLabel(e['mark_show'], $root.options.show)}}</p>
        <p>Variazione listino: {{e['mark_list']}} %</p>
        <p>Sconto: {{e['mark_disc']}} %</p>
        <p>
            <span ng-repeat="c in $root.settings.parse(e['mark_cat_array'])">{{$root.settings.convert(c, 'categorie', 'cat_id', 'cat_nome')}}</span>
        </p>
    </div>
</div>