<button type="button" class="btn btn-info saveData" ng-click="saveDataDB()" ng-disabled="saving">SAVE DATA FROM DB</button>
<div class="nuovo" ng-if="!settori.selected">
    <h1>nuovo settore</h1>
    <div class="rows">
        <input class="form-control nome" type="text" placeholder="Nome settore" ng-model="vm.nuovoSettore.n" popover="Nome settore" popover-trigger="mouseenter">
        <select class="form-control categoria" ng-options="c.i as c.n for c in vm.categorie | orderBy : 'n'" data-ng-model="vm.nuovoSettore.g">
            <option value="" selected>Categoria</option>
        </select>
        <input class="form-control pos" type="number" placeholder="0" ng-model="vm.nuovoSettore.y" popover="Posizione" popover-trigger="mouseenter">
        <button ng-if="vm.nuovoSettore.v == 1" class="btn btn-success switch" type="button" value="1" ng-click="vm.nuovoSettore.v = 0">ON</button>
        <button ng-if="vm.nuovoSettore.v == 0" class="btn btn-danger switch" type="button" value="0" ng-click="vm.nuovoSettore.v = 1">OFF</button>
        <button ng-if="vm.nuovoSettore.o == 1" class="btn btn-success switch" type="button" value="1" ng-click="vm.nuovoSettore.o = 0" popover="Visibità in homepage" popover-trigger="mouseenter">ON</button>
        <button ng-if="vm.nuovoSettore.o == 0" class="btn btn-danger switch" type="button" value="0" ng-click="vm.nuovoSettore.o = 1" popover="Visibilità in homepage" popover-trigger="mouseenter">OFF</button>
    </div>
    <div class="rows">
        <textarea class="form-control" placeholder="Descrizione" ng-model="vm.nuovoSettore.x"></textarea>
    </div>
    <div class="rows">
        <div class="dropAreaFileImage prodotti" ng-class="{solidBorder : vm.nuovoSettore.r}">
            <input type="file" class="dropArea" fileread="vm.nuovoSettore.r">
            <span ng-if="!vm.nuovoSettore.r">DROP FILE HERE</span>
            <div class="fileImage">
                <img class="finiture" ng-if="vm.nuovoSettore.r" ng-src="{{vm.nuovoSettore.r}}">
            </div>
        </div>
    </div>
    <div class="rows">
        <button class="btn btn-primary" type="button" ng-click="action('N')" ng-disabled="updateCheck()">SUBMIT</button>
        <button class="btn btn-primary" type="reset">RESET</button>
    </div>
</div>
<div class="modifica" ng-if="settori.selected">
    <h1>modifica settore</h1>
    <settori settore-original = "settori" vm = "vm"></settori>
</div>

<div class="gestione">
    <h1>gestione settori</h1>
    <div class="filtri">
        <div class="rows">
            <input class="form-control nome" type="text" placeholder="Filtro settore" ng-model="input" ng-keyup="eraseInput($event)" title="Filtro settore">
            <div class="inlineBlock" ng-include="'include/settoriFilter.html'"></div>
            <div class="inlineBlock" ng-include="'include/showFilter.html'"></div>
        </div>
        <div class="rows">
            <input class="form-control pos" type="number" ng-model="vm.itemsPerPage" popover="Numero di risultati per pagina" popover-trigger="mouseenter">
            <i class="icons-sort blu" popover="Ordina per nome" popover-trigger="mouseenter" ng-click="sorting('n')"></i>
            <i class="icons-sort green" popover="Ordina per posizione" popover-trigger="mouseenter" ng-click="sorting('y')"></i>
        </div>
    </div>
    <div class="list">
        <div ng-repeat="s in vm.settori
        | orderBy : vm.sorting
        | settoreFilter : filtro.categoria.i
        | filter : {n : filtro.settore, v : filtro.show}
        | offset: ((vm.currentPage -1) * vm.itemsPerPage) : ((vm.currentPage -1) * vm.itemsPerPage + vm.itemsPerPage)">
            <h4 ng-click="selectSettore(s)">{{s.n}}</h4>
            <p ng-if="s.v == 1">Online</p>
            <p ng-if="s.v == 0">Offline</p>
            <p ng-if="s.o == 1">Visibile in homepage</p>
            <p ng-if="s.o == 0">Non visibile in homepage</p>
            <p>Posizione: {{s.y}}</p>
            <p>{{convert(s.g, 'categorie', 'n')}}</p>
        </div>
        <div ng-if="(vm.settori | filter : {n : filtro.settore, v : filtro.show}).length != 0" class="paginationContainer">
            <pagination
                    total-items="(vm.settori | settoreFilter : filtro.categoria.i | filter : {n : filtro.settore, v : filtro.show}).length"
                    ng-model="vm.currentPage"
                    boundary-links="true"
                    max-size = "vm.maxSize"
                    items-per-page = "vm.itemsPerPage"
                    rotate = "false">
            </pagination>
        </div>
        <h5 ng-if="(vm.settori | filter : {n : filtro.settore, v : filtro.show}).length == 0">Nessun risultato disponibile</h5>
    </div>
</div>