<div class="row">
    <div class="col-12 mt-3">
        <h1>Settori</h1>
    </div>
    <div class="col-12 mb-5">
        <settori entity="entity.settore"></settori>
    </div>
    <div class="col-7">
        <ul uib-pagination class="pagination-md justify-content-end mb-0"
            boundary-links="true"
            total-items="($root.settori | filter : {set_nome : $root.settings.query.settore, cat_nome : $root.settings.query.categoria}).length"
            items-per-page="$root.settings.itemsPerPage"
            max-size="3"
            ng-model="entity.currentPage"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            force-ellipses="true"
        ></ul>
    </div>
    <div class="col-1">
        <input type="number" class="form-control" ng-model="$root.settings.itemsPerPage" title="" uib-tooltip="Elementi per pagina" >
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.settore" title="" placeholder="Filtro settore">
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.categoria" title="" placeholder="Filtro categoria">
    </div>
</div>
<div class="col-12 p-0  mt-3 list">
    <div ng-repeat="e in $root.settori | filter : {set_nome : $root.settings.query.settore, cat_nome : $root.settings.query.categoria}"
         ng-if="$root.settings.show($index, entity.currentPage)"
         ng-click="selectItem(e)">
        <h4>{{e['set_nome']}}</h4>
        <p>{{$root.settings.idToLabel(e['set_show'], $root.options.show)}}</p>
        <p>Posizione: {{e['set_pos']}}</p>
        <p>{{$root.settings.convert(e['set_cat_id'], 'categorie', 'cat_id' ,'cat_nome')}}</p>
        <p ng-if="e['set_home'] === 1">Homepage</p>
    </div>
</div>