<div class="row">
    <div class="col-12 mt-3">
        <h1>Tabelle finiture</h1>
    </div>
    <div class="col-12 mb-5">
        <tabelle_finiture entity="entity.tabella_finitura"></tabelle_finiture>
    </div>
    <div class="col-5">
        <ul uib-pagination class="pagination-md justify-content-end mb-0"
            boundary-links="true"
            total-items="($root.tabelle_finiture | filter : {tab_nome : $root.settings.query.tabella_prodotti, mark_nome : $root.settings.query.marchio, line_nome : $root.settings.query.linea}).length"
            items-per-page="$root.settings.itemsPerPage"
            max-size="3"
            ng-model="entity.currentPage"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            force-ellipses="true"
        ></ul>
    </div>
    <div class="col-1">
        <input type="number" class="form-control" ng-model="$root.settings.itemsPerPage" title="" uib-tooltip="Elementi per pagina" >
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.tabella_prodotti" title="" placeholder="Filtro tabella">
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.marchio" title="" placeholder="Filtro marchio">
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.linea" title="" placeholder="Filtro linea">
    </div>
</div>
<div class="col-12 p-0  mt-3 list">
    <div ng-repeat="e in $root['tabelle_finiture'] | filter : {tab_nome : $root.settings.query.tabella_prodotti, mark_nome : $root.settings.query.marchio, line_nome : $root.settings.query.linea}"
         ng-if="$root.settings.show($index, entity.currentPage)"
         ng-click="selectItem(e)">
        <h4>{{e['tab_nome']}}</h4>
        <p>{{e['mark_nome']}}</p>
        <p>{{e['line_nome']}}</p>
    </div>
</div>