<div class="row">
    <div class="col-12 mt-3">
        <h1>Vetrine</h1>
    </div>
    <div class="col-12 mb-5">
        <vetrine entity="entity.vetrina"></vetrine>
    </div>
    <div class="col-5">
        <ul uib-pagination class="pagination-md justify-content-end mb-0"
            data-boundary-links="true"
            data-total-items="($root.vetrine | filter : {cmp_nome : $root.settings.query.nome} | filterById : $root.settings.query.linee : 'cmp_line_id' | filterById : $root.settings.query.marchi : 'cmp_mark_id').length"
            data-items-per-page="$root.settings.itemsPerPage"
            data-max-size="3"
            data-ng-model="entity.currentPage"
            data-previous-text="&lsaquo;"
            data-next-text="&rsaquo;"
            data-first-text="&laquo;"
            data-last-text="&raquo;"
            data-force-ellipses="true"
        ></ul>
    </div>
    <div class="col-1">
        <input type="number" class="form-control" ng-model="$root.settings.itemsPerPage" title="" uib-tooltip="Elementi per pagina" >
    </div>
    <div class="col-2">
        <input type="text" class="form-control" ng-model="$root.settings.query.nome" title="" placeholder="Filtro codice">
    </div>
    <div class="col-2">
        <select class="form-control" data-ng-model="$root.settings.query.marchi" ng-options="o.mark_id as o.mark_nome for o in $root.marchi" title="">
            <option value="">Tutti i marchi</option>
        </select>
    </div>
    <div class="col-2">
        <select class="form-control" data-ng-model="$root.settings.query.linee" ng-options="o.line_id as o.line_nome for o in $root.linee" title="">
            <option value="">Tutte le linee</option>
        </select>
    </div>
</div>
<div class="col-12 p-0  mt-3 list">
    <div ng-repeat="e in $root.vetrine | filter : {cmp_nome : $root.settings.query.nome} | filterById : $root.settings.query.linee : 'cmp_line_id' | filterById : $root.settings.query.marchi : 'cmp_mark_id'"
         ng-if="$root.settings.show($index, entity.currentPage)"
         ng-click="selectItem(e)">
        <h4 uib-tooltip="ID: {{e['cmp_id']}}" data-tooltip-placement="left">{{$root.settings.convert(e['cmp_line_id'], 'linee', 'line_id' ,'line_nome')}}_{{e['cmp_nome']}} <span>{{e['cmp_title']}}</span></h4>
        <p>{{$root.settings.idToLabel(e['cmp_show'], $root.options.show)}}</p>
        <p>Posizione: {{e['cmp_pos']}}</p>
        <p>{{$root.settings.convert(e['cmp_cat_id'], 'categorie', 'cat_id' ,'cat_nome')}}</p>
        <p>{{$root.settings.convert(e['cmp_mark_id'], 'marchi', 'mark_id' ,'mark_nome')}}</p>
        <p>{{$root.settings.convert(e['cmp_line_id'], 'linee', 'line_id' ,'line_nome')}}</p>
        <p>
            <span ng-repeat="s in e['cmp_settore']">{{$root.settings.convert(s, 'settori', 'set_id', 'set_nome')}}</span>
        </p>
        <p ng-if="e['cmp_note']">{{e['cmp_note']}}</p>
    </div>
</div>